<app-pages title="Usuarios">  
    <main>
        <section>
            <div class="row container-fluid">    
                <div [ngClass]="getClassNew()">
                    <app-new-user 
                    [rolList]="rolList" 
                    [personList]="personList" 
                    [statesUser]="statesUser"
                    [enterpriseList]="enterpriseList"
                    [rol]="rol"
                    [user]="user"
                    (cancel)="onCancel($event)"
                    (update)="onUpdate($event)"
                    (create)="onCreate($event)"
                    (getEmployees)="onGetEmployees($event)"
                    >
                    </app-new-user>
                </div>   

                <div [ngClass]="getClassShow()">
                    <app-show-user 
                    [user]="user" 
                    (cancel)="onCancelShow($event)">
                    </app-show-user>
                </div>
                <div [ngClass]="getClassList()">
                    <app-list-user
                    [userList]="userList"
                    (delUser)=onDelete($event)
                    (inactiveUser)=onInactive($event)
                    (newUser)=onNew($event)
                    (showUser)=onShow($event)>
                    </app-list-user>
                </div>
            </div>
        </section>
    </main>
</app-pages>