<app-pages title="Empleados">  
    <main>            
        <section>
            <!-- start menu main-->
            <div class="row bg-gray">
                <div class="col-sm-6 text-left">
                    Listado de empleados
                </div>
                <div class="col-sm-6 text-right">
                    <div class="btn-group btn-group-sm">
                        <a routerLink='../create/new' type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal">
                            <fa-icon [icon]="faPlusCircle" class="text-outline-primary mb-2 mr-1"></fa-icon>Crear
                        </a>
                    </div>
                </div>
            </div>
            <!-- end menu main-->

            <!-- start content -->
            <div class="row margin-top-1rem">
                <div class="col-sm-12">
                    <table class="table table-sm table-striped">
                        <thead class="bg-secondary text-white">
                            <tr>
                                <th>Acciones</th>
                                <th>Identificación</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Dirección</th>
                                <th>Telefono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of lstClients">
                                <td>
                                    <a routerLink='../show/{{employee.pk_id_person}}' class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                                        <fa-icon [icon]="faEye" class="text-outline-secondary mb-2 mr-1"></fa-icon>Ver detalle
                                    </a>
                                </td>
                                <td>{{ employee.type_id }} {{ employee.number_id }}</td>
                                <td>{{ employee.names }}</td>
                                <td>{{ employee.last_names }}</td>
                                <td>{{ employee.address }}</td>
                                <td>{{ employee.phone }}</td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
            <!-- end content -->
        </section>
    </main>
</app-pages>