<div class="row margin-top">
    <div [ngClass]="getClassNew()">
        <app-new-product
            [product]="product"
            [categoryList]="categoryList"
            [presentationList]="presentationList"
            [typeProductList]="typeProductList"
            (update)="onUpdate($event)"
            (create)="onCreate($event)"
            (onView)="onView($event)"
        >
        </app-new-product>
    </div>
    <div [ngClass]="getClassReport()">
        <app-reports-product
        [dataSets]="dataSets"
        [dateEnd]="dateEnd"
        [dateInit]="dateInit"
        [days_sold]="days_sold"
        [valueStock]="valueStock"
        (loadData)="onLoadData($event)"
        >
        </app-reports-product>
    </div>
    <div [ngClass]="getClassShow()">
        <app-show-product
            [product]="product"
            (onView)="onView($event)"
        >
        </app-show-product>
    </div>
    <div [ngClass]="getClassList()">
        <app-list-product
            [productList]="productList"
            (search)="onSearch($event)"
            (show)="onShow($event)"
            (delete)="onDelete($event)"
            (select)="onSelect($event)"
            (viewReport)="onViewReport($event)"
        >
        </app-list-product>
    </div>
</div>