<app-card caption="Gestión de información de componente">
    <main>
        <h5 *ngIf="comp.pk_id_component">Actualización de información</h5>
        <h5 *ngIf="!comp.pk_id_component">Creación componente</h5>
        <form [formGroup]="componentForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control text-small" placeholder="Nombre" formControlName="name" required>
                        <small *ngIf="mustShowError('name')" class="form-text alert-danger">
                        Nombre es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="url_angular_component">Módulo angular</label>
                        <input type="text" class="form-control text-small" placeholder="Modulo angular" formControlName="url_angular_component">
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="url_image">imagen</label>
                        <input type="file" (change)="onFileSelected($event)" class="form-control text-small" placeholder="imagen" formControlName="url_image">
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <button *ngIf="comp.pk_id_component" type="submit" data-dismiss="modal" data-dismiss="modal" class="btn btn-outline-success btn-sm mb-2 mr-1"
        [disabled]="componentForm.invalid"
        (click)="updateComponent()">Actualizar</button>

        <button *ngIf="!comp.pk_id_component" type="submit" data-dismiss="modal" class="btn btn-outline-primary btn-sm mb-2 mr-1"
        [disabled]="componentForm.invalid"
        (click)="createComponent()">Guardar</button>
    </footer>
</app-card>      