<div class="modal fade" id="barcodeModal" tabindex="-1" role="dialog" aria-labelledby="barcodeModal" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Generar código de barras propio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 alert alert-warning" role="alert">
                            <div class="row text-ultra-small"> 
                                <div class="col-sm-12">
                                    El código de barras generado responde a la siguiente estructura.
                                </div>
                                <div class="col-sm-12">
                                    <strong>[Empresa][Categoría][TamañoPrenda][Consecutivo]</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-1rem"> 
                        <div class="col-sm-2">
                            Nit de Empresa
                        </div>
                        <div class="col-sm-10">
                            {{ enterprise }}
                        </div>
                    </div>
                    <div class="row margin-top-1rem"> 
                        <div class="col-sm-2">
                            Categoría
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12 text-ultra-small">
                                    <div class="btn-group">
                                        <a type="button" *ngFor="let category of parametersBarCode[category_clothes]" (click)="setCategory(category.value,category.name)" class="btn btn-sm btn-outline-secondary">{{ category.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-1rem"> 
                        <div class="col-sm-2">
                            Tallas
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12 text-ultra-small">
                                    <div class="btn-group">
                                        <a type="button" *ngFor="let category of parametersBarCode[sizes_clothes]" (click)="setSize(category.value)" class="btn btn-sm btn-outline-secondary">{{ category.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-1rem"> 
                        <div class="col-sm-2">
                            Consecutivo
                        </div>
                        <div class="col-sm-10">
                            {{ consecutive }}
                        </div>
                    </div>
                    <div class="row margin-top-1rem"> 
                        <div class="col-sm-12 text-center shadow-sm rounded">
                            <button type="button" (click)="selectBarCode()" class="btn btn-sm btn-outline-info" data-dismiss="modal"><h3>{{ enterprise }}{{ category }}{{ size }}00{{ consecutive }}</h3></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>