
<section>
    <!-- start menu main-->
    <div class="row bg-gray">
        <div class="col-sm-6 text-left">
            Listado de todas las opciones
        </div>
        <div class="col-sm-6 text-right">
            <div class="btn-group btn-group-sm">
                <button type="button" (click)="newOption()" class="btn btn-outline-primary btn-sm">
                    <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>Crear
                </button>
            </div>
        </div>
    </div>
    <!-- end menu main-->

    <!-- start content -->
    <div class="row margin-top-1rem">
        <div class="col-sm-12">
            <table class="table table-sm table-striped">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th>Acciones</th>
                        <th>Objeto de negocio</th>
                        <th>Acción</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let option of optionList.data_results">
                        <td>
                            <div class="btn-group">
                                <button class="btn text-ultra-small btn-sm btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <fa-icon [icon]="faTrashAlt" class="text-danger mb-2 mr-1" title="Eliminar registro"></fa-icon>Eliminar
                                </button>
                                <button type="button" class="btn text-ultra-small btn-sm btn-outline-success" (click)="updateOption(option)">
                                    <fa-icon [icon]="faEdit" class="text-success mb-2 mr-1" title="Actualizar registro"></fa-icon>Actualizar
                                </button>

                                <div class="dropdown-menu">
                                    <div class="alert alert-danger text-ultra-small">
                                        Elimina la opción.
                                    </div>
                                    <button class="badge badge-danger text-ultra-small" (click)="deleteOption(option.pk_id_option)">Confirmar..</button>   
                                    <button class="badge badge-primary text-ultra-small">Cancelar</button>   
                                </div>
                            </div>
                        </td>
                        <td>{{ option.business_object }}</td>
                        <td>{{ option.action }}</td>
                        <td>{{ option.description }}</td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
    <!-- end content -->
</section>