<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" (click)="newOption()" class="btn text-small btn-sm btn-outline-primary">
                            <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>Nueva opción
                        </button>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                        </div>
                    </div>
                </div>
                <div class="table-responsive container">
                    <div class="row border-type-2 align-items-end">
                        <div class="col-sm-4 text-ultra-small">
                            Items por página: 
                            <select class="custom-select" #regPerPag (change)="setRegPerPg(regPerPag.value)">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                        <div class="col-sm-6 text-ultra-small font-weight-bold">
                            registros : {{ (actualPg*regPerPg)+1 }}  a {{ maxPerPg }} de {{ (optionList.number_results) }} <br /> pagina actual: {{ actualPg }} de {{ (totalPgs-1) }}
                        </div>
                        <div class="col-sm-2">
                            <button *ngIf="(actualPg+1) <= (totalPgs-1)" type="button" class="btn btn-sm btn-outline-success" (click)="addActualPg()">
                                >>
                            </button>
                            <button *ngIf="actualPg > 0" type="button" class="btn btn-sm btn-outline-success" (click)="delActualPg()">
                                <<
                            </button>
                            
                        </div>
                    </div>
        
                    <!-- Segunda fila: table -->
                    <div class="row">
                        <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Opciones</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let option of optionList.data_results | slice:(actualPg*regPerPg):maxPerPg; let i=index;"> 
                                <td>{{ (actualPg*regPerPg) + (i+1) }}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="btn-group">
                                                <button class="btn text-ultra-small btn-sm btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <fa-icon [icon]="faTrashAlt" class="text-danger mb-2 mr-1" title="Eliminar registro"></fa-icon>Eliminar
                                                </button>
                                                <button type="button" class="btn text-ultra-small btn-sm btn-outline-success" (click)="updateOption(option)">
                                                    <fa-icon [icon]="faEdit" class="text-success mb-2 mr-1" title="Actualizar registro"></fa-icon>Actualizar
                                                </button>
                                                <div class="dropdown-menu">
                                                    <button type="button" class="btn text-ultra-small btn-sm btn-outline-danger text-small" (click)="deleteOption(option.pk_id_option)">Confirmar</button>   
                                                    <button type="button" class="btn text-ultra-small btn-sm btn-outline-primary text-small">Cancelar</button>   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ option.code }}<br />
                                    {{ option.description }}
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <!-- Fin segunda fila -->
        
                    <!-- Tercera fila: paginador -->
                    <div class="row"></div>
                    <!-- Fin tercera fila -->
                </div>
            </div>
        </div>
    </div>
</div>    