<!-- card para información sobre proceso productivo-->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8 card-title">
                <h5>Crear órden de compra</h5>
            </div>
            <div class="col-sm-4 text-right">
                <div class="btn-group btn-group-sm">
                    <a routerLink='../purchase-detailed' class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                        <fa-icon [icon]="faThList" class="text-outline-secondary mb-2 mr-1"></fa-icon>Ver todos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            {{ operation | json }}
        </div>
        <!-- end of row -->
    </div>
</div>