<!-- card para información sobre proceso productivo-->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8 card-title">
                <h5>Crear órden de compra</h5>
            </div>
            <div class="col-sm-4 text-right">
                <div class="btn-group btn-group-sm">
                    <a routerLink='../purchase-detailed' class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                        <fa-icon [icon]="faThList" class="text-outline-secondary mb-2 mr-1"></fa-icon>Ver todos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body back-gray">
        <div class="purchase-card">
            <!-- start main info-->
            <div class="row">
                <!-- start provider info-->
                <div class="col-sm-3 back-colo-f6">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th colspan="2"><h6>Proveedor</h6></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ enterprise.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>NIT</th>
                                        <td>{{ enterprise.nit }}</td>
                                    </tr>
                                    <tr>
                                        <th>Dirección</th>
                                        <td>{{ enterprise.address }}, {{ enterprise.ubication_city }}</td>
                                    </tr>
                                    <tr>
                                        <th>Teléfono</th>
                                        <td>{{ enterprise.phone }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- start información de producto seleccionado-->
                    <div class="row margin-top-2rem" *ngIf="product.pk_id_product">
                        <div class="col-sm-12">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th colspan="2"><h6>Producto seleccionado</h6></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Código</th>
                                        <td>{{ product.code }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre</th>
                                        <td>{{ product.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Presentación</th>
                                        <td>{{ product.presentation }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end información de producto seleccionado-->
                </div>
                <!-- start provider info-->
                
                <form [formGroup]="operationForm" (ngSubmit)="onSubmit()">
                    <!-- start purchase info-->
                    <div class="col-sm-9 back-color-ff">
                        <!-- start información básica-->
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row justify-content-start">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h6>Orden de compra # {{ operationForm.value.number_invoice }}</h6>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4">
                                                <label for="fk_id_provider">Proveedor</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="text" id="filterProvider" (keydown)="onFindProvider($event)" class="form-control form-control-sm" aria-describedby="providerHelp" formControlName="fk_id_provider">
                                                <small id="providerHelp" class="form-text text-muted">Busque el proveedor de los productos.</small>
                                                <div class="container back-colo-f6 display-result scrollbar" *ngIf="lstProviders.length > 0">
                                                    <div class="row">
                                                        <div class="col-sm-12" *ngFor="let provider of lstProviders">
                                                            <button class="text-outline-info mb-2 mr-1" type="button" (click)="selectProvider(provider)">{{ provider.nit }} - {{ provider.name }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4">
                                                <label for="number_invoice">Factura #</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control form-control-sm" aria-describedby="ninvoiceHelp" formControlName="number_invoice">
                                                <small id="ninvoiceHelp" class="form-text text-muted">Ingresar número de factura.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="row justify-content-end">
                                    <div class="col-sm-12">
                                        <table class="table table-sm">
                                            <tbody class="text-success order-purchase-title">
                                                <tr>
                                                    <th>Valor total</th>
                                                    <td>{{ operationForm.value.total_operation | number }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Abonos</th>
                                                    <td>{{ operationForm.value.total_pays | number }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Saldo</th>
                                                    <td>{{ (operationForm.value.total_operation - operationForm.total_pays) | number }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- end información básica-->
                        <div class="row margin-top-2rem justify-content-end" formArrayName="product">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code_product">Código de barras</label>
                                    <input type="text" id="filterProduct" (keydown)="onFindProduct($event)" class="form-control form-control-sm" aria-describedby="codeHelp" formControlName="code_product">
                                    <small id="codeHelp" class="form-text text-muted">Introduzca el cóidigo de barras del producto.</small>
                                    <div class="container back-colo-f6 display-result scrollbar" *ngIf="lstProducts.length > 0">
                                        <div class="row">
                                            <div class="col-sm-12" *ngFor="let product of lstProducts">
                                                <button class="text-outline-info mb-2 mr-1" type="button" (click)="selectProduct(product)">{{ product.code }} - {{ product.name }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="number_selected">Unidades seleccionadas</label>
                                    <input type="number" class="form-control form-control-sm" aria-describedby="unidadesHelp" formControlName="number_selected">
                                    <small id="unidadesHelp" class="form-text text-muted">Unidades a comprar del producto seleccionado.</small>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="value_unit">Valor unitario</label>
                                    <input type="number" class="form-control form-control-sm" formControlName="value_unit">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="tax_product">Impuestos</label>
                                    <input type="number" class="form-control form-control-sm" formControlName="tax_product">
                                </div>
                            </div>
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-primary">Add</button>
                            </div>
                        </div>

                        <!-- start productos-->
                        <div class="row margin-top-2rem justify-content-end">
                            <div class="col-sm-12">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Presentación</th>
                                            <th>Cantidad</th>
                                            <th>Valor unitario</th>
                                            <th>Impuesto</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let prd of selected_products.controls; let i=index">
                                            <td>[]</td>
                                            <td>[]</td>
                                            <td>[]</td>
                                            <td>[]</td>
                                            <td>[]</td>
                                            <td>[]</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="5" colspan="5"></th>
                                            <th>Subtotal</th>
                                            <th>--subtotal</th>
                                        </tr>
                                        <tr>
                                            <th>Total impuestos</th>
                                            <th>--impuestos</th>
                                        </tr>
                                        <tr class="text-primary">
                                            <th>Total</th>
                                            <th>--total</th>
                                        </tr>
                                        <tr class="text-danger">
                                            <th>Descuentos</th>
                                            <th>[]</th>
                                        </tr>
                                        <tr class="text-success">
                                            <th>Valor neto</th>
                                            <th>--neto</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- end productos-->
                    </div>
                    <!-- end purchase info-->
                </form>
            </div>
            <!-- end main info-->
        </div>
    </div>
</div>