<section>
    <!-- start menu main-->
    <div class="row bg-gray">
        <div class="col-sm-6 text-left">
            Detalle de empresa
        </div>
        <div class="col-sm-6 text-right">
            <div class="btn-group btn-group-sm">
                <button type="button" (click)="cancelOwner()" class="btn btn-outline-primary btn-sm">
                    <fa-icon [icon]="faThList" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>Ver todos
                </button>
            </div>
        </div>
    </div>
    <!-- end menu main-->
    
    <!-- start info options-->
    <div class="row back-colo-f6 margin-top-1rem">
        <div class="col-sm-12 text-right align-self-end">
            <div class="btn-group btn-group-sm">
                <div class="dropdown">
                    <button class="btn text-ultra-small btn-sm dropdown-toggle" type="button" id="operation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <fa-icon [icon]="faArchway" class="text-outline-secondary mb-2 mr-1"></fa-icon>Empresa
                    </button>
                    <div class="dropdown-menu" aria-labelledby="operation">
                        <button (click)="updateRegistry(registry)"class="dropdown-item text-small text-secondary"  type="button" data-toggle="modal" data-target="#operationModal">
                            <fa-icon [icon]="faEdit" class="text-outline-secondary mb-2 mr-1"></fa-icon>Editar información
                        </button>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn text-ultra-small btn-sm dropdown-toggle" type="button" id="positions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <fa-icon [icon]="faDiagnoses" class="text-outline-secondary mb-2 mr-1"></fa-icon>Cargos
                    </button>
                    <div class="dropdown-menu" aria-labelledby="products">
                        <button class="dropdown-item text-small text-secondary" type="button" data-toggle="modal" data-target="#positionModal">
                            <fa-icon [icon]="faPlus" class="text-outline-secondary mb-2 mr-1"></fa-icon>Agregar cargo
                        </button>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn text-ultra-small btn-sm dropdown-toggle" type="button" id="parameters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <fa-icon [icon]="faCogs" class="text-outline-secondary mb-2 mr-1"></fa-icon>Parámetros
                    </button>
                    <div class="dropdown-menu" aria-labelledby="payments">
                        <button class="dropdown-item text-small text-secondary" (click)="generateParameters()" type="button">
                            <fa-icon [icon]="faPlus" class="text-outline-secondary mb-2 mr-1"></fa-icon>Agregar parámetro
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end info options-->

    <!-- start content -->
    <div class="row margin-top-1rem">
        
        <!-- start basic information -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h6>Datos básicos</h6>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th>Nit</th>
                                <td>{{ registry.nit }}</td>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td>{{ registry.name }}</td>
                            </tr>
                            <tr>
                                <th>Dirección</th>
                                <td>{{ registry.address }}, {{ registry.ubication-city }} </td>
                            </tr>
                            <tr>
                                <th>Teléfono</th>
                                <td>{{ registry.phone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h6>Datos adicionales</h6>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th>Tamaño</th>
                                <td>{{ registry.size }}</td>
                            </tr>
                            <tr>
                                <th>Regímen</th>
                                <td>{{ registry.regimen }}</td>
                            </tr>
                            <tr>
                                <th>Resolución de facturación DIAN</th>
                                <td>{{ registry.DIAN_billing_resolution }}</td>
                            </tr>
                            <tr>
                                <th>Pie de página de facturación</th>
                                <th>{{ registry.footer_billing }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end basic information -->
    </div>
    <!-- end content -->

    <!-- start parameters and positions -->
    <div class="row margin-top-1rem">
        <!-- start positions information -->    
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h6>Cargos</h6>
                </div>
                <div class="card-body">
                    <app-list-position
                    [positionsList]="positionsList"
                    (delete)="onDeletePosition($event)"
                    (select)="onSelectPosition($event)"
                    ></app-list-position>          
                </div>
            </div>
        </div>
        <!-- start positions information -->

        <!-- start parameters information -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h6>Parámetros de la empresa</h6>
                </div>
                <div class="card-body">
                    <app-list-parameter
                    [parametersList]="parametersList"
                    (delete)="onDeleteParameter($event)"
                    (select)="onSelectParameter($event)"
                    ></app-list-parameter>        
                </div>
            </div>
        </div>
        <!-- end parameters information -->        
    </div>
    <!-- end parameters and positions -->
</section>

<!-- start position new information -->
<app-new-position
[position]="position"
[fk_id_enterprise]="registry.pk_id_enterprise"
(create)="onCreatePosition($event)"
(update)="onUpdatePosition($event)"
></app-new-position> 
<!-- end position new information -->

<!-- start parameter new information -->
<app-new-parameter
[parameter]="parameter"
[fk_id_enterprise]="registry.pk_id_enterprise"
(create)="onCreateParameter($event)"
(update)="onUpdateParameter($event)"
></app-new-parameter> 
<!-- end parameter new information -->

