<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive container">
                    <!-- primera fila, sección de buscador-->
                    <div class="row">
                        <div class="btn-group">
                            <button type="button" (click)="crtOrder()" class="btn text-small btn-sm btn-outline-primary">
                                <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                <fa-icon [icon]="faSearch" class="text-secondary mb-2 mr-1" title="Ver registro"></fa-icon>
                            </button>
                            <div class="dropdown-menu box-350">
                                <div class="container text-ultra-small">
                                    <form [formGroup]="searchForm">
                                        <div class="row alert alert-secondary" role="alert">
                                            <div class="col-sm-12  alert alert-info" role="alert">
                                                Se puede buscar por proveedor [id|nombre], número de factura, estado, fecha de compra. <br /> Por defecto se muestran 5 registros.
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control text-ultra-small" placeholder="Filtro" formControlName="filter">
                                                    <div class="input-group-prepend">
                                                        <button [disabled]="searchForm.invalid" type="button" class="btn text-small btn-sm btn-outline-secondary"  (click)="searchOrder()">
                                                            <fa-icon [icon]="faSearch" class="text-secondary mb-2 mr-1" title="Buscar registro"></fa-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fin primera fila, sección de buscador-->

                    <!-- Sección de paginación de resultados -->
                    <div class="row border-type-2 align-items-end">
                        <div class="col-sm-4 text-ultra-small">
                            items por página: 
                            <select class="custom-select" #regPerPag (change)="setRegPerPg(regPerPag.value)">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                        <div class="col-sm-6 text-ultra-small font-weight-bold">
                            registros : {{ (actualPg*regPerPg)+1 }}  a {{ maxPerPg }} de {{ (orderList.number_results) }} <br /> pagina actual: {{ actualPg }} de {{ (totalPgs-1) }}
                        </div>
                        <div class="col-sm-2">
                            <button *ngIf="(actualPg+1) <= (totalPgs-1)" type="button" class="btn btn-sm btn-outline-success" (click)="addActualPg()">
                                >>
                            </button>
                            <button *ngIf="actualPg > 0" type="button" class="btn btn-sm btn-outline-success" (click)="delActualPg()">
                                <<
                            </button>
                        </div>
                    </div>
                    <!-- Fin sección de paginación de resultados -->

                    <!-- Segunda fila: table -->
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Factura</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orderList.data_results | slice:(actualPg*regPerPg):((actualPg*regPerPg))+(regPerPg); let i=index;">
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn text-ultra-small btn-sm btn-outline-warning" (click)="showOrder(order.pk_id_operation)">
                                                <fa-icon [icon]="faEye" class="text-warning mb-2 mr-1" title="Ver registro"></fa-icon>Ver
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row text-ultra-small">
                                            <div class="col-sm-6"><b>Fact: {{ order.number_invoice }}</b></div>
                                            <div class="col-sm-6">{{ order.date_operation }}</div>
                                            <div class="col-sm-12"><b>Cliente:</b> {{ order.external_reference.split(":")[3] }} - {{ order.external_reference.split(":")[2] }}</div>
                                            <div class="col-sm-6"><b>Total: $ {{ order.total_operation | number }}</b></div>
                                            <div class="col-sm-6">{{ order.state_operation }}</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Fin segunda fila -->

                    <!-- Tercera fila: paginador -->
                    <div class="row border-type-2" role="alert">
                        <div class="col-sm-12">
                            <nav aria-label="pgs">
                                <ul class="pagination pagination-sm justify-content-end">
                                    <div *ngFor="let pg of totalPgs">
                                        <li class="page-item active" *ngIf="pg === actualPg">
                                            <a class="page-link" (click)="setActualPg(pg)">
                                                {{ pg+1 }}<span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="page-item" *ngIf="pg != actualPg">
                                            <a class="page-link" (click)="setActualPg(pg)">
                                                {{ pg+1 }}<span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Fin tercera fila -->
                </div>
            </div>
        </div>
    </div>
</div>    