<div class="modal fade" id="positionModal" tabindex="-1" role="dialog" aria-labelledby="positionModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Información sobre cargos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="positionForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="code">Código</label>
                                    <input type="text" class="form-control text-small" placeholder="Código" formControlName="code">
                                    <small *ngIf="mustShowError('code')" class="form-text alert-danger">
                                    Código, es requerido.
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control text-small" placeholder="Nombre" formControlName="name">
                                    <small *ngIf="mustShowError('name')" class="form-text alert-danger">
                                    Nombre, es requerido.
                                    </small>
                                </div>
                            </div> 
                        </div> 

                        <!-- start buttons form-->
                        <div class="row justify-content-end">
                            <div class="col-sm-4 text-right align-self-end">
                                <button *ngIf="position.pk_id_position" type="submit" class="btn btn-outline-success btn-sm mb-2 mr-1" [disabled]="positionForm.invalid" (click)="updateTypeService()">
                                    <fa-icon [icon]="faSave" class="text-outline-secondary mb-2 mr-1"></fa-icon>Actualizar
                                </button>
                                <button *ngIf="!position.pk_id_position" type="submit" class="btn btn-outline-success btn-sm mb-2 mr-1" [disabled]="positionForm.invalid" (click)="createTypeService()">
                                    <fa-icon [icon]="faSave" class="text-outline-secondary mb-2 mr-1"></fa-icon>Guardar
                                </button>
                            </div>
                        </div>
                        <!-- end buttons form-->
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>