<app-card caption="Gestión de información de usuario">
    <main>
        <h5 *ngIf="user.pk_id_user">Actualización de información</h5>
        <h5 *ngIf="!user.pk_id_user">Creación de información</h5>
        <form [formGroup]="userForm">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control text-small" placeholder="username" formControlName="username" required>
                        <small *ngIf="mustShowError('username')" class="form-text alert-danger">
                        Username es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="username">email</label>
                        <input type="text" class="form-control text-small" placeholder="email" formControlName="email" required>
                        <small *ngIf="mustShowError('email')" class="form-text alert-danger">
                        <small *ngIf="hasError('email', 'email')"  class="form-text alert-danger">
                            Debe ingresar un email válido
                        </small>
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fk_id_enterprise">Empresa</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn text-small btn-sm btn-outline-primary" data-toggle="modal" data-target="#enterpriseModal">
                                    <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>
                                </button>
                            </div>
                            <select class="form-control form-control-sm text-small" formControlName="fk_id_enterprise" (change)="getEmployeesByEnterprise()" required>
                                <option value="" selected>Seleccione</option>
                                <option value="{{enterprise.pk_id_enterprise}}" *ngFor="let enterprise of enterpriseList[0]">{{enterprise.name}}</option>
                            </select>
                            <div class="col-sm-12">
                                <small *ngIf="mustShowError('fk_id_enterprise')" class="form-text alert-danger">
                                    Empresa es obligatorio
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="fk_id_person">Persona</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button *ngIf="userForm.value.fk_id_enterprise" type="button" class="btn text-small btn-sm btn-outline-primary" data-toggle="modal" data-target="#personModal">
                                <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>
                            </button>
                        </div>
                        <select class="form-control text-small" formControlName="fk_id_person">
                            <option value="" selected>Seleccione</option>
                            <option value="{{person.pk_id_person}}" *ngFor="let person of personList[0]">{{person.names}} {{person.last_names}}</option>
                        </select>
                    </div>
                </div> 
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="rol">rol</label>
                        <select class="form-control text-small" formControlName="fk_id_rol" (change)="getOptions()">
                            <option value="" selected>Seleccione</option>
                            <option value="{{rol.pk_id_rol}}" *ngFor="let rol of rolList[0]">{{rol.name}}</option>
                        </select>
                        <small *ngIf="mustShowError('fk_id_rol')" class="form-text alert-danger">
                            Rol es obligatorio
                        </small>
                    </div>
                </div>          
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control text-small" placeholder="password" formControlName="password" required>
                    <span *ngIf="mustShowError('password')">
                        <small *ngIf="hasError('password', 'required')"  class="form-text alert-danger">
                        contraseña es obligatorio
                        </small>
                        <small *ngIf="hasError('password', 'minlength')"  class="form-text alert-danger">
                            La contraseña debe contener al menos {{getErrors('password').minlength.requiredLength}} digitos
                        </small>
                    </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                    <label for="state">Estado de usuario</label>
                    <select class="form-control text-small" formControlName="state_user" required>
                        <option value="" selected>Seleccione</option>
                        <option value="{{state.value}}" *ngFor="let state of statesUser[0]">{{state.name}}</option>
                    </select>
                    <span *ngIf="mustShowError('state_user')">
                        <small *ngIf="hasError('state_user', 'required')"  class="form-text alert-danger">
                            estaado es obligatorio
                        </small>
                    </span>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="rol">
                    <ul>
                    <li *ngFor="let option of rol.options">{{option.code }}</li>
                    </ul> 
                </div>
            </div>
        </form>

        <app-modal-person
            [pk_id_enterprise]="userForm.value.fk_id_enterprise"
            [typesIdList]="typesIdList"
            [postitionList]="postitionList"
            [laboralStateList]="laboralStateList"
            (create)="createPerson($event)"
        >
        </app-modal-person>
        <app-modal-enterprise
        (create)="createEnterprise($event)"
        >
        </app-modal-enterprise>
        
    </main>
    <footer>
        <button *ngIf="user.pk_id_user" type="submit" class="btn btn-outline-success btn-sm mb-2 mr-1"
        [disabled]="userForm.invalid"
        (click)="updateUser()">Actualizar</button>
        <button *ngIf="!user.pk_id_user" type="submit" class="btn btn-outline-primary btn-sm mb-2 mr-1"
        [disabled]="userForm.invalid"
        (click)="createUser()">Guardar</button>
        <button type="button" class="btn btn-outline-danger btn-sm mb-2 mr-1"
        (click)="cancelUser()">Cancelar</button>
    </footer>
</app-card>      