<!-- card para información sobre proceso productivo-->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8 card-title">
                <h5>Información detallada</h5>
            </div>
            <div class="col-sm-4 text-right">
                <div class="btn-group btn-group-sm">
                    <button (click)="viewList()" type="button" class="btn btn-outline-primary btn-sm">
                        <fa-icon [icon]="faThList" class="text-outline-primary mb-2 mr-1"></fa-icon>Ver todos
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <!-- Tarjeta de información básica-->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <h5 class="card-title">Detalle del producto</h5>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-sm table-striped">
                                <tr>
                                    <th>Nombre</th>
                                    <td>{{ product.name}}</td>
                                </tr>
                                <tr>
                                    <th>Código</th>
                                    <td>{{ product.code}}</td>
                                </tr>
                                <tr>
                                    <th>Categoría</th>
                                    <td>{{ product.category}}</td>
                                </tr>
                                <tr>
                                    <th>Presentación</th>
                                    <td>{{ product.presentation}}</td>
                                </tr>
                                <tr>
                                    <th>Tipo de producto</th>
                                    <td>{{ product.type_product}}</td>
                                </tr>
                                <tr>
                                    <th>Unidades disponibles</th>
                                    <td>{{ product.units_available}}</td>
                                </tr>
                                <tr>
                                    <th>Referencia</th>
                                    <td>{{ product.reference}}</td>
                                </tr>
                                <tr>
                                    <th>Unidades por paquete</th>
                                    <td>{{ product.units_package }}</td>
                                </tr>
                                <tr>
                                    <th>Precio de venta por unidad</th>
                                    <td>{{ product.sale_price_unit }}</td>
                                </tr>
                                <tr>
                                    <th>Precio de venta por paquete</th>
                                    <td>{{ product.sale_price_package}}</td>
                                </tr>
                                <tr>
                                    <th>Precio de costo</th>
                                    <td>{{ product.cost_price | number}}</td>
                                </tr>
                                <tr>
                                    <th>Tamaño</th>
                                    <td>{{ product.size}}</td>
                                </tr>
                                <tr>
                                    <th>Color</th>
                                    <td>{{ product.color}}</td>
                                </tr>
                                <tr>
                                    <th>Marca</th>
                                    <td>{{ product.trademark}}</td>
                                </tr>
                            </table>
                        </div>                  
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <!-- Tarjeta de información básica-->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 text-left">
                                <h5 class="card-title">Información de compras y ventas de producto</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <form [formGroup]="reportForm">
                                    <div class="row margin-top">
                                        <div class="col-sm-12 alert alert-info" role="alert">
                                            Muestra los movimientos y compras realizadas para el producto seleccionado, desde hace <strong>{{ days_sold }}</strong> días.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="from_date">Fecha inicial</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="btn text-small btn-sm btn-outline-primary" [owlDateTimeTrigger]="from_date"><fa-icon [icon]="faCalendar" class="text-primary"></fa-icon></span>
                                                </div>
                                                <input type="text" class="form-control text-small" placeholder="Desde" formControlName="from_date" [owlDateTime]="from_date">
                                                <owl-date-time [pickerType]="'calendar'" #from_date></owl-date-time>
                                                <div class="col-sm-12">
                                                    <small class="form-text alert-primary">
                                                        Fecha inicial rango de venta.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="to_date">Fecha final</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="btn text-small btn-sm btn-outline-primary" [owlDateTimeTrigger]="to_date"><fa-icon [icon]="faCalendar" class="text-primary"></fa-icon></span>
                                                </div>
                                                <input type="text" class="form-control text-small" placeholder="Hasta" formControlName="to_date" [owlDateTime]="to_date">
                                                <owl-date-time [pickerType]="'calendar'" #to_date></owl-date-time>
                                                <div class="col-sm-12">
                                                    <small class="form-text alert-primary">
                                                        Fecha final de rango de venta.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 row align-items-center">            
                                            <button type="submit" class="btn btn-outline-primary btn-sm mb-2 mr-1" (click)="getDetails(product.pk_id_product)">Buscar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> 
                        <div class="row" *ngIf="operationsList">
                            <div class="col-sm-6">
                                <!-- Tarjeta de información básica-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <h5 class="card-title">Compras</h5>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="operationsList.purchase">
                                            <table class="table table-sm table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Factura</th>
                                                        <th>Fecha</th>
                                                        <th>Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let opr of operationsList.purchase">
                                                        <td>{{ opr.number_invoice }}</td>
                                                        <td>{{ opr.date_operation }}</td>
                                                        <td>{{ opr.number_units + (opr.number_package * product.units_package) }}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="2">Total de compras</th>
                                                        <td>{{ operationsList.total_purchase[0].units + (operationsList.total_purchase[0].packages * product.units_package) | number}}</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>                  
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- Tarjeta de información básica-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12 text-left">
                                                <h5 class="card-title">Ventas</h5>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="operationsList.sales">
                                            <table class="table table-sm table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Factura</th>
                                                        <th>Fecha</th>
                                                        <th>Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let opr of operationsList.sales">
                                                        <td>{{ opr.number_invoice }}</td>
                                                        <td>{{ opr.date_operation }}</td>
                                                        <td>{{ opr.number_units + (opr.number_package * product.units_package) }}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="2">Total de ventas</th>
                                                        <td>{{ operationsList.total_sales[0].units + (operationsList.total_sales[0].packages * product.units_package) | number}}</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>                  
                                    </div>
                                </div>
                            </div>
                         </div>                      
                    </div>
                </div>
            </div>
        </div>
        <!-- end of row -->
    </div>
</div>
