<app-card caption="Detalle de producto {{product.name}}">
    <main>
        <div class="row">
            <!-- Inicio información proveedor-->
            <div class="col-sm-12 text-ultra-small ">
                <div class="row border-bottom-2 bg-gray style-header-table">
                    <div class="col-sm-12">
                        Información básica
                    </div>
                </div>
                <div class="row border-bottom-2 style-header-table">
                    <div class="col-sm-6 text-ultra-small">
                        <div class="row border-bottom-2 bg-gray style-header-table">
                            <div class="col-sm-12">
                                Producto
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-6 text-small">
                                Código: 
                            </div>
                            <div class="col-sm-6 card-title-custom bg-gray">
                                {{ product.code }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-6 text-small">
                                Nombre: 
                            </div>
                            <div class="col-sm-6 card-title-custom bg-gray">
                                {{ product.name }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-6 text-small">
                                Unidades por paquete: 
                            </div>
                            <div class="col-sm-6 card-title-custom bg-gray">
                                {{ product.units_package | number }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-6 text-small">
                                Precio venta por unidad: 
                            </div>
                            <div class="col-sm-6 card-title-custom bg-gray">
                                {{ product.sale_price_unit | number }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-6 text-small">
                                Precio venta por paquete: 
                            </div>
                            <div class="col-sm-6 card-title-custom bg-gray">
                                {{ product.sale_price_package | number }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-6 text-small">
                                Unidades disponibles: 
                            </div>
                            <div class="col-sm-6 card-title-custom bg-gray">
                                {{ product.units_available | number }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-6 text-small">
                                Precio de costo unidad: 
                            </div>
                            <div class="col-sm-6 card-title-custom bg-gray">
                                {{ product.cost_price | number }}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 text-ultra-small">
                        <div class="row border-bottom-2 bg-gray style-header-table">
                            <div class="col-sm-12">
                                Datos adicionales
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Tipo de producto: 
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ product.type_product }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Referencia: 
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ product.reference }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Categoría: 
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ product.category }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Presentación
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ product.presentation }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Talla
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ product.size }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Color
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ product.color }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Marca
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ product.trademark }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <form [formGroup]="reportForm">
            <div class="row margin-top">
                <div class="col-sm-12 alert alert-info" role="alert">
                    Muestra los movimientos y compras realizadas para el producto seleccionado, desde hace <strong>{{ days_sold }}</strong> días.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label for="from_date">Fecha inicial</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="btn text-small btn-sm btn-outline-primary" [owlDateTimeTrigger]="from_date"><fa-icon [icon]="faCalendar" class="text-primary"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control text-small" placeholder="Desde" formControlName="from_date" [owlDateTime]="from_date">
                        <owl-date-time [pickerType]="'calendar'" #from_date></owl-date-time>
                        <div class="col-sm-12">
                            <small class="form-text alert-primary">
                                Fecha inicial rango de venta.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="to_date">Fecha final</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="btn text-small btn-sm btn-outline-primary" [owlDateTimeTrigger]="to_date"><fa-icon [icon]="faCalendar" class="text-primary"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control text-small" placeholder="Hasta" formControlName="to_date" [owlDateTime]="to_date">
                        <owl-date-time [pickerType]="'calendar'" #to_date></owl-date-time>
                        <div class="col-sm-12">
                            <small class="form-text alert-primary">
                                Fecha final de rango de venta.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 row align-items-center">            
                    <button type="submit" class="btn btn-outline-primary btn-sm mb-2 mr-1" (click)="getDetails(product.pk_id_product)">Buscar</button>
                </div>
            </div>
        </form>
        <div class="row" *ngIf="operationsList">
            <div class="col-sm-6 text-ultra-small">
                <div class="row border-bottom-2 bg-gray style-header-table">
                    <div class="col-sm-12">
                        Compras
                    </div>
                </div>
                <div class="row border-bottom-2 bg-gray text-ultra-small">
                    <div class="col-sm-6">
                        Factura
                    </div>
                    <div class="col-sm-3">
                        Fecha
                    </div>
                    <div class="col-sm-3">
                        Cantidad
                    </div>
                </div>
                <div class="row border-bottom-1" *ngFor="let opr of operationsList.purchase">
                    <div class="col-sm-6 text-small">
                        {{ opr.number_invoice }}
                    </div>
                    <div class="col-sm-3 text-small">
                        {{ opr.date_operation }}
                    </div>
                    <div class="col-sm-3 card-title-custom bg-gray">
                        {{ opr.number_units + (opr.number_package * product.units_package) }} : 
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-ultra-small">
                <div class="row border-bottom-2 bg-gray style-header-table">
                    <div class="col-sm-12">
                        Ventas
                    </div>
                </div>
                <div class="row border-bottom-2 bg-gray text-ultra-small">
                    <div class="col-sm-6">
                        Factura
                    </div>
                    <div class="col-sm-3">
                        Fecha
                    </div>
                    <div class="col-sm-3">
                        Cantidad
                    </div>
                </div>
                
                <div class="row border-bottom-1" *ngFor="let opr of operationsList.sales">
                    <div class="col-sm-6 text-small">
                        {{ opr.number_invoice }}
                    </div>
                    <div class="col-sm-3 text-small">
                        {{ opr.date_operation }}
                    </div>
                    <div class="col-sm-3 card-title-custom bg-gray">
                        {{ opr.number_units + (opr.number_package * product.units_package) }} 
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="operationsList">
            <div class="col-sm-6 text-ultra-small">
                <div class="row border-bottom-2 bg-gray style-header-table">
                    <div class="col-sm-9 align-self-end">
                        Total compras
                    </div>
                    <div class="col-sm-3 align-self-end">
                        {{ operationsList.total_purchase.units + (operationsList.total_purchase.packages * product.units_package) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-ultra-small">
                <div class="row border-bottom-2 bg-gray style-header-table">
                    <div class="col-sm-9 align-self-end">
                        Total ventas
                    </div>
                    <div class="col-sm-3 align-self-end">
                        {{ operationsList.total_sales.units + (operationsList.total_sales.packages * product.units_package) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
</app-card>