<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" (click)="newTypeService()" class="btn text-ultra-small btn-sm btn-outline-primary">
                            <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>Nuevo tipo de servicio
                        </button>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                        </div>
                    </div>
                </div>
                <div class="table-responsive container">
                    <!-- Primera fila: buscador y definición de tamaño-->
                    <div class="row">
                    </div>
                    <!-- Fin primera fila -->
        
                    <!-- Segunda fila: table -->
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Código</th>
                                    <th>Modo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let typeService of typeServiceList">
                                    <td>    
                                        <div class="btn-group">
                                            <button class="btn text-ultra-small btn-sm btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <fa-icon [icon]="faTrashAlt" class="text-danger mb-2 mr-1" title="Eliminar registro"></fa-icon>Eliminar
                                            </button>
                                            <button type="button" class="btn text-ultra-small btn-sm btn-outline-success" (click)="loadTypeService(typeService)">
                                                <fa-icon [icon]="faEdit" class="text-success mb-2 mr-1" title="Actualizar registro"></fa-icon>Editar
                                            </button>
                                            <div class="dropdown-menu">
                                                <button type="button" class="btn text-ultra-small btn-sm btn-outline-danger text-small" (click)="deleteTypeService(typeService.pk_id_type_service)">Confirmar</button>   
                                                <button type="button" class="btn text-ultra-small btn-sm btn-outline-primary text-small">Cancelar</button>   
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{ typeService.code_service }}
                                    </td>
                                    <td>
                                        {{ typeService.mode_service }}
                                    </td>
                                    <th>
                                        $ {{ typeService.value_service | number }}
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Fin segunda fila -->
        
                    <!-- Tercera fila: paginador -->
                    <div class="row"></div>
                    <!-- Fin tercera fila -->
                </div>
            </div>
        </div>
    </div>
</div>    