<!-- Large modal -->
<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Agregar cantidad de producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="detailProductForm">
                <div class="card">
                    <div class="card-body">
                        <div class="row margin-top-2rem">
                            <div class="col-sm-6 back-colo-f6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Producto seleccionado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <td>{{ product.name }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Código</th>
                                                    <td>{{ product.code }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Tipo de producto</th>
                                                    <td>{{ product.type_product }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Presentación</th>
                                                    <td>{{ product.presentation }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Unidades disponibles</th>
                                                    <td>{{ product.units_available | number }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="fk_id_product">Códido de producto</label>
                                            <small id="codeHelp" class="form-text text-muted">Digite el codigo o parte del códido de barras del producto.</small>
                                            <input type="text" id="filterProductCode" (keypress)="onFindProductCode($event)" class="form-control form-control-sm" aria-describedby="codeHelp" formControlName="code_product">
                                            <!-- start autocomplete-->
                                            <div class="autocomplete container-fluid">
                                                <div id="autocomplete-list" class="autocomplete-items text-ultra-small">
                                                    <div class="items row" *ngFor="let product of lstProductsCodes">
                                                        <div class="col-sm-12" (click)="selectProduct(product)">
                                                            {{ product.code }} {{ product.name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- start autocomplete-->
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="name_product">Nombre del producto</label>
                                        <small id="codeHelp" class="form-text text-muted">Digite el nombre o parte del del nombre de barras del producto.</small>
                                        <input type="text" id="filterProductName" (keypress)="onFindProductName($event)" class="form-control form-control-sm" aria-describedby="codeHelp" formControlName="name_product">
                                        <!-- start autocomplete-->
                                        <div class="autocomplete container-fluid">
                                            <div id="autocomplete-list" class="autocomplete-items text-ultra-small">
                                                <div class="items row" *ngFor="let product of lstProductsNames">
                                                    <div class="col-sm-12" (click)="selectProduct(product)">
                                                        {{ product.code }} {{ product.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- start autocomplete-->
                                    </div>

                                    <div class="col-sm-12">
                                        <label for="amount_use_product">Cant {{ selectedPresentation }}</label>
                                        <div class="input-group-prepend">
                                            <a *ngIf="product.presentation != 'INDIVIDUAL'" (click)="setPackageByProduct()" type="button" class="btn btn-sm btn-outline-primary">
                                                <fa-icon [icon]="faArchive" class="text-primary mb-2 mr-1" title="seleccionar unidades"></fa-icon>
                                            </a>
                                            <a *ngIf="product.presentation != 'INDIVIDUAL'" (click)="setUnitsByProduct()" type="button" class="btn btn-sm btn-outline-primary">
                                                <fa-icon [icon]="faUnderline" class="text-primary mb-2 mr-1" title="seleccionar unidades"></fa-icon>
                                            </a>
                                            <input type="number" #amount_use_product class="form-control form-control-sm with-sm" aria-describedby="unidadesHelp" formControlName="amount_use_product">
                                            <small class="text-danger" *ngIf="hasError('amount_use_product','required')">
                                                El campo es obligatorio
                                            </small>
                                            <small class="text-danger" *ngIf="hasError('amount_use_product','max')">
                                                Valor no puede ser mayor a <strong>{{ this.getErrors('amount_use_product').max.max | number }}</strong>
                                            </small>
                                        </div>                                            
                                    </div>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button [disabled]="detailProductForm.invalid" (click)="create()" type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>