<div class="row margin-top">
    <div [ngClass]="getClassShow()">
        <app-show-production-process
        [productionProcess]="productionProcess"
        [cuttingPeriodList]="cuttingPeriodList"
        [dataProductInputs]="dataProductInputs"
        [dataProductProducts]="dataProductProducts"
        [dataProductIntermediaty]="dataProductIntermediaty"
        [state]="state"
        (getData)="onGetData($event)"
        (onUpdate)="update($event)"
        (createPeriod)="onCreatePeriod($event)"
        (deletePeriod)="onDeletePeriod($event)"
        (deletailDetPrd)="onDeletailDetPrd($event)"
        (onView)="onView($event)"
        >
        </app-show-production-process>
    </div>
    <div [ngClass]="getClassList()">
        <app-list-production-process
        [productionProcessList]="productionProcessList"
        [fk_id_enterprise]="fk_id_enterprise"
        (select)="onSelect($event)"
        (create)="onCreate($event)"
        >
        </app-list-production-process>
    </div>
</div>
        