<app-pages title="Gestión de créditos">  
    <main>       
        <section>
            <!-- start menu main-->
            <div class="row bg-gray">
                <div class="col-sm-6 text-left">
                    Valores consolidados
                </div>
            </div>
            <!-- end menu main-->
            
            <!-- información consolidada-->
            <div class="row margin-top-1rem">
                
                <!-- Valor disponible-->
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h2>Total disponible</h2>
                                    <h3>$ {{ (associated_value + credit_payments_value + credit_performance_value) - ( credit_disbursment_value + credit_expenses_value ) | number }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- asociados -->
                    <div class="row margin-top-1rem">
                        
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">Asociados </div>
                                <div class="card-body">
                                    <table class="table table-sm table-hover">
                                        <thead>
                                            <tr>
                                                <td colspan="3">
                                                    <div class="row">
                                                        <div class="col-sm-12 text-ultra-small">
                                                            <div class="accordion" id="accordionExample">
                                                                <div class="card">
                                                                    <div class="row" id="headingOne">
                                                                        <div class="col-sm-6">
                                                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                                <fa-icon [icon]="faSearch" class="text-outline-primary mb-2 mr-1"></fa-icon>Buscador
                                                                            </button>
                                                                        </div>              
                                                                    </div>
                                                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                                        <div class="card-body">
                                                                            <div class="row">
                                                                                <div class="col-sm-12">
                                                                                    <input id="filterAssociated" (keypress)="onFindAssociated($event)" class="form-control form-control-sm" type="text" placeholder="Digite datos a buscar">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="aler alert-warning">
                                                <td colspan="6">
                                                    <div class="btn-group btn-group-sm dropleft">
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm dropdown" type="button" id="operation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <fa-icon [icon]="faEllipsisV" class="text-outline-secondary mb-2 mr-1"></fa-icon>
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="operation">
                                                                <a routerLink='/sales-admin/human-resource/associated/create/new' class="dropdown-item text-small text-secondary"  type="button">
                                                                    <fa-icon [icon]="faPlusCircle" class="text-outline-secondary mb-2 mr-1"></fa-icon>Nuevo asociado
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    Se muestran los últimos 10 asociados
                                                </td>
                                            </tr>
                                            <tr>
                                                <th colspan="2">Asociado</th>
                                                <th>Aportes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let associated of lstAssociated">
                                                <td>
                                                    <a routerLink='/sales-admin/human-resource/associated/show/{{associated.pk_id_associated_info}}' class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                                                        <fa-icon [icon]="faEye" class="text-outline-secondary mb-2 mr-1"></fa-icon>
                                                    </a>
                                                </td>
                                                <td>
                                                    {{ associated.external_reference_person.split(':')[3] }} {{ associated.external_reference_person.split(':')[4] }}<br/>
                                                    <span class="text-muted">[ {{ associated.external_reference_person.split(':')[1] }} - {{ associated.external_reference_person.split(':')[2] }} ]</span>
                                                </td>
                                                <td>$ {{ associated.total_contribution | number }}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6" class="text-right">
                                                    <a routerLink="/sales-admin/human-resource/associated/list" class="btn btn-outline-primary btn-sm">
                                                        Ver todos ...<fa-icon [icon]="faAngleDoubleRight" class="text-outline-primary mb-2 mr-1"></fa-icon>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table> 
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- asociados -->
                </div>
                <!-- Valor disponible-->

                <!-- Valores detalle-->
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <th>Aportes totales <span class="badge badge-primary">{{  associated_count | number }}</span></th>
                                        <td>$ {{ associated_value | number }}</td>
                                    </tr>
                                    <tr>
                                        <th>Desembolsos <span class="badge badge-primary">{{ credit_disbursment_count | number }}</span></th>
                                        <td>$ {{ credit_disbursment_value | number }}</td>
                                    </tr>
                                    <tr>
                                        <th>Rendimientos</th>
                                        <td>$ {{ credit_performance_value | number }}</td>
                                    </tr>
                                    <tr>
                                        <th>Pagos recibidos de créditos</th>
                                        <td>$ {{ credit_payments_value | number }} </td>
                                    </tr>
                                    <tr>
                                        <th>Gastos</th>
                                        <td>$ {{ credit_expenses_value | number }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row margin-top-1rem">
                        <!-- créditos solicitados-->
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm-6">Créditos Solicitados <span class="badge badge-primary">{{ credit_solicited_count | number }}</span></div>
                                                <div class="col-sm-6 text-right">$ {{ credit_solicited_value | number }}</div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr class="aler alert-warning">
                                                        <td colspan="10">
                                                            <div class="btn-group btn-group-sm dropleft">
                                                                <div class="dropdown">
                                                                    <button class="btn btn-sm dropdown" type="button" id="operation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <fa-icon [icon]="faEllipsisV" class="text-outline-secondary mb-2 mr-1"></fa-icon>
                                                                    </button>
                                                                    <div class="dropdown-menu" aria-labelledby="operation">
                                                                        <a routerLink='../create/new' class="dropdown-item text-small text-secondary"  type="button">
                                                                            <fa-icon [icon]="faPlusCircle" class="text-outline-secondary mb-2 mr-1"></fa-icon>Nuevo crédito
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            Se muestran los últimos 10 registros
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Acciones</th>
                                                        <th>Asociado</th>
                                                        <th>Código</th>
                                                        <th>Saldo</th>
                                                        <th>Estado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let credit of lstCreditSolicited">
                                                        <td>
                                                            <a routerLink='../show/{{credit.pk_id_credit_associated}}' class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                                                                <fa-icon [icon]="faEye" class="text-outline-secondary mb-2 mr-1"></fa-icon>
                                                            </a>
                                                        </td>
                                                        <td>{{ credit.external_reference_person.split(':')[3] }} {{ credit.external_reference_person.split(':')[4] }}</td>
                                                        <td>{{ credit.code }}</td>
                                                        <td>{{ credit.balance_credit | number }}</td>
                                                        <td>{{ credit.state }}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="10" class="text-right">
                                                            <a routerLink="../list" class="btn btn-outline-primary btn-sm">
                                                                Ver todos ...<fa-icon [icon]="faAngleDoubleRight" class="text-outline-primary mb-2 mr-1"></fa-icon>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- créditos solicitados-->

                        <!-- créditos aprobados-->
                        <div class="col-sm-12 margin-top-1rem">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm-6">Créditos aprobados <span class="badge badge-primary">{{ credit_assinged_count | number }}</span></div>
                                                <div class="col-sm-6 text-right">$ {{ credit_assinged_value | number }}</div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr class="aler alert-warning">
                                                        <td colspan="5">Se muestran los últimos 10 registros</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Acciones</th>
                                                        <th>Asociado</th>
                                                        <th>Código</th>
                                                        <th>Saldo</th>
                                                        <th>Estado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let credit of lstCreditApproved">
                                                        <td>
                                                            <a routerLink='../show/{{credit.pk_id_credit_associated}}' class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                                                                <fa-icon [icon]="faEye" class="text-outline-secondary mb-2 mr-1"></fa-icon>
                                                            </a>
                                                        </td>
                                                        <td>{{ credit.external_reference_person.split(':')[3] }} {{ credit.external_reference_person.split(':')[4] }}</td>
                                                        <td>{{ credit.code }}</td>
                                                        <td>{{ credit.balance_credit | number }}</td>
                                                        <td>{{ credit.state }}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="10" class="text-right">
                                                            <a routerLink="../list" class="btn btn-outline-primary btn-sm">
                                                                Ver todos ...<fa-icon [icon]="faAngleDoubleRight" class="text-outline-primary mb-2 mr-1"></fa-icon>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- créditos aprobados-->

                        <!-- créditos desembolsados-->
                        <div class="col-sm-12 margin-top-1rem">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm-6">Créditos desembolsados <span class="badge badge-primary">{{ credit_disbursment_count | number }}</span></div>
                                                <div class="col-sm-6 text-right">$ {{ credit_disbursment_value | number }}</div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr class="aler alert-warning">
                                                        <td colspan="5">Se muestran los últimos 10 registros</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Acciones</th>
                                                        <th>Asociado</th>
                                                        <th>Código</th>
                                                        <th>Saldo</th>
                                                        <th>Estado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let credit of lstCreditDisbursment">
                                                        <td>
                                                            <a routerLink='../show/{{credit.pk_id_credit_associated}}' class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                                                                <fa-icon [icon]="faEye" class="text-outline-secondary mb-2 mr-1"></fa-icon>Ver
                                                            </a>
                                                        </td>
                                                        <td>{{ credit.external_reference_person.split(':')[3] }} {{ credit.external_reference_person.split(':')[4] }}</td>
                                                        <td>{{ credit.code }}</td>
                                                        <td>{{ credit.balance_credit | number }}</td>
                                                        <td>{{ credit.state }}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="10" class="text-right">
                                                            <a routerLink="../list" class="btn btn-outline-primary btn-sm">
                                                                Ver todos ...<fa-icon [icon]="faAngleDoubleRight" class="text-outline-primary mb-2 mr-1"></fa-icon>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- créditos desembolsados-->
                    </div>

                </div>
                <!-- Valores detalle-->
            </div>
            <!-- información consolidada -->
        </section>
    </main>
</app-pages>  