<div class="row margin-top">
    <div *ngIf="!showClient" class="col-sm-7">
        <app-new-employee
            [person]="person"
            [postitionList]="postitionList"
            [laboralStateList]="laboralStateList"
            [typesIdList]="typesIdList"
            (create)="onCreate($event)"
            (update)="onUpdate($event)"
        >
        </app-new-employee>
    </div>
    <div *ngIf="showClient" class="col-sm-7">
        <app-show-employee
            [person]="person"
        >
        </app-show-employee>
    </div>
    <div class="col-sm-5">
        <app-list-employee
            [clientList]="clientList"
            [actualPg]="actualPg"
            [regPerPg]="regPerPg"
            (search)="onSearch($event)"
            (selectShow)="onSelectShow($event)"
            (selectUpdate)="onSelectUpdate($event)"
            (inactivate)="onInactivate($event)"
        >
        </app-list-employee>
    </div>
</div>