<section>
    <!-- start menu main-->
    <div class="row bg-gray">
        <div class="col-sm-6 text-left">
            Listado de todos las empresas
        </div>
        <div class="col-sm-6 text-right">
            <div class="btn-group btn-group-sm">
                <button type="button" (click)="crtRegistry()" class="btn btn-outline-primary btn-sm">
                    <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>Crear
                </button>
            </div>
        </div>
    </div>
    <!-- end menu main-->

    <!-- start content -->
    <div class="row margin-top-1rem">
        <div class="col-sm-12">
            <table class="table table-sm table-striped">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th>Acciones</th>
                        <th>NIT</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Régimen</th>
                        <th>Tamaño</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registry of registryList">
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn text-ultra-small text-ultra-small btn-sm btn-outline-warning" (click)="selectRegistry(registry.pk_id_enterprise)">
                                    <fa-icon [icon]="faEye" class="text-warning mb-2 mr-1" title="Ver registro"></fa-icon>Ver
                                </button>
                                <button type="button" class="btn text-ultra-small text-ultra-small btn-sm btn-outline-success" (click)="updateRegistry(registry)">
                                    <fa-icon [icon]="faEdit" class="text-success mb-2 mr-1" title="Actualizar registro"></fa-icon>Actualizar
                                </button>
                            </div>
                        </td>
                        <td>{{ registry.nit }}</td>
                        <td>{{ registry.name }}</td>
                        <td>{{ registry.address  }}</td>
                        <td>{{ registry.phone  }}</td>
                        <td>{{ registry.regimen  }}</td>
                        <td>{{ registry.size  }}</td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
    <!-- end content -->
</section>