<div class="row margin-top">
    <div *ngIf="!showRegistry" class="col-sm-8">
        <app-new-provider
        [registry]="registry"
        (store)="onStore($event)"
        (update)="onUpdate($event)"
        >
        </app-new-provider>
    </div>
    <div *ngIf="showRegistry" class="col-sm-8">
        <app-show-provider
        [registry]="registry"
        >
        </app-show-provider>
    </div>
    <div class="col-sm-4">
        <app-list-provider
        [registryList]="registryList"
        [actualPg]="actualPg"
        [regPerPg]="regPerPg"
        (create)="onCreate($event)"
        (select)="onSelect($event)"
        (update)="onSelectUpd($event)"
        >
        </app-list-provider>
    </div>
</div>