<app-card caption="Gestión de información de persona">
    <main>
        <h5>Creación de persona</h5>
        <div class="alert alert-info">En éste formulario se permite crear personas para la empresa seleccionada en el formulario principal.</div>
        <form [formGroup]="personForm">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="type_id">Tipo de identificación</label>
                        <select class="form-control form-control-sm text-small" formControlName="type_id" required>
                            <option value="{{param.value}}" *ngFor="let param of typesIdList">{{param.name}}</option>
                        </select>
                        <small *ngIf="mustShowError('type_id')" class="form-text alert-danger">
                            Tipo de identificacion, es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="number_id">Número de identificación</label>
                        <input type="text" class="form-control text-small" placeholder="Número de identificación" formControlName="number_id" required>
                        <small *ngIf="mustShowError('number_id')" class="form-text alert-danger">
                            Número de identificacion, es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="names">Nombres</label>
                        <input type="text" class="form-control text-small" placeholder="Nombres" formControlName="names" required>
                        <small *ngIf="mustShowError('names')" class="form-text alert-danger">
                            Nombres es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="last_names">Apellidos</label>
                        <input type="text" class="form-control text-small" placeholder="Apellidos" formControlName="last_names" required>
                        <small *ngIf="mustShowError('last_names')" class="form-text alert-danger">
                            Apellidos es obligatorio
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        <input type="text" class="form-control text-small" placeholder="Dirección" formControlName="address">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input type="text" class="form-control text-small" placeholder="Teléfono" formControlName="phone">
                    </div>
                </div>
            </div>

            <!-- datos de empresa-->
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="fk_id_position">Cargo</label>
                        <select class="form-control form-control-sm text-small" formControlName="fk_id_position" required>
                            <option value="{{position.pk_id_position}}" *ngFor="let position of positionList">{{position.name}}</option>
                        </select>
                        <small *ngIf="mustShowError('fk_id_position')" class="form-text alert-danger">
                            Cargo en empresa es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="date_register">Fecha inicial</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="btn text-small btn-sm btn-outline-primary" [owlDateTimeTrigger]="date_register"><fa-icon [icon]="faCalendar" class="text-primary"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control text-small" placeholder="Fecha inicio contrato" formControlName="date_register" [owlDateTime]="date_register">
                        <small class="form-text alert-secondary">
                            Fecha de inicio de actividades en el cargo.
                        </small>
                        <owl-date-time [pickerType]="'calendar'" #date_register></owl-date-time>
                        <small *ngIf="mustShowError('date_register')" class="form-text alert-danger">
                            Fecha inicio de actividades, es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state">Estado de vinculación laboral</label>
                        <select class="form-control form-control-sm text-small" formControlName="state" required>
                            <option value="{{ state.value }}" *ngFor="let state of laboralStateList">{{state.name}}</option>
                        </select>
                        <small *ngIf="mustShowError('state')" class="form-text alert-danger">
                            Cargo en empresa es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="salary_type">Tipo de salario</label>
                        <select class="form-control form-control-sm text-small" formControlName="salary_type" required>
                            <option value="{{ salaryType.value }}" *ngFor="let salaryType of salaryTypeList">{{salaryType.name}}</option>
                        </select>
                        <small *ngIf="mustShowError('salary_type')" class="form-text alert-danger">
                            Cargo en empresa es obligatorio
                        </small>
                    </div>
                </div>
            </div>
            <!-- fin datos de empresa-->
        </form>
    </main>
    <footer>
        <button type="submit" class="btn btn-outline-primary btn-sm mb-2 mr-1" [disabled]="personForm.invalid" data-dismiss="modal" (click)="createPerson()">Guardar</button>
        <button type="button" class="btn btn-outline-danger btn-sm mb-2 mr-1" data-dismiss="modal">Cancelar</button>
    </footer>
</app-card>      