<section>
    <!-- start menu main-->
    <div class="row bg-gray">
        <div class="col-sm-6 text-left">
            Detalle de un usuario
        </div>
        <div class="col-sm-6 text-right">
            <div class="btn-group btn-group-sm">
                <button type="button" (click)="cancelUser()" class="btn btn-outline-primary btn-sm">
                    <fa-icon [icon]="faThList" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>Ver todos
                </button>
            </div>
        </div>
    </div>
    <!-- end menu main-->
    

    <!-- start content -->
    <div class="row margin-top-1rem">
        <div class="col-sm-6">
            <!--start información básica -->
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th colspan="2"><h4>Usuario</h4></th>
                            </tr>
                        </thead>
                        <tr>
                            <th>Username</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Correo electrónico</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Estado</th>
                            <td>{{ user.state_user }}</td>
                        </tr>
                        <tr>
                            <th colspan="2"><h4>Empresa</h4></th>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ enterprise.name }}{{ enterprise.last_names }}</td>
                        </tr>
                        <tr>
                            <th>Dirección</th>
                            <td>{{ enterprise.address }}</td>
                        </tr>
                        <tr>
                            <th>Teléfono</th>
                            <td>{{ enterprise.phone }}</td>
                        </tr>
                        <tr>
                            <th colspan="2"><h4>Rol</h4></th>
                        </tr>        
                        <tr>
                            <th>Nombre</th>
                            <td>{{ user.rol.name }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- end información básica -->
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th colspan="2"><h4>Información personal</h4></th>
                            </tr>
                        </thead>
                        <tr>
                            <th>Tipo Id</th>
                            <td>{{ person.type_id }}</td>
                        </tr>
                        <tr>
                            <th>Número de id</th>
                            <td>{{ person.number_id }}</td>
                        </tr>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ person.names }}</td>
                        </tr>
                        <tr>
                            <th>Apellido</th>
                            <td>{{ person.last_names }}</td>
                        </tr>
                        <tr>
                            <th>Dirección</th>
                            <td>{{ person.address }}</td>
                        </tr>
                        <tr>
                            <th>Teléfono</th>
                            <td>{{ person.phone }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>