<div class="modal fade" id="creditLineModal" tabindex="-1" role="dialog" aria-labelledby="creditLineModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Línea de crédito</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-header">
                    Línea de crédito
                </div>
                <div class="card-body">
                    <form [formGroup]="creditLineForm">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control text-small" placeholder="Nombre" formControlName="name" required>
                                    <small *ngIf="mustShowError('name')" class="form-text alert-danger">
                                    Nombre, es obligatorio
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="term_interest">Período de cobro de interes</label>
                                    <select class="form-control form-control-sm" formControlName="term_interest" required>
                                        <option value="" selected selected>Seleccione...</option>
                                        <option *ngFor="let param of lstParameters" value="{{param.value}}">{{ param.name }}</option>
                                    </select>
                                    <small *ngIf="mustShowError('term_interest')" class="form-text alert-danger">
                                    Período de cobro, es obligatorio
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="interest">Interés cobrado</label>
                                    <input type="number" class="form-control text-small" placeholder="Nombre" formControlName="interest" required>
                                    <small class="form-text alert-info text-ultra-small">Valor entre 0 y 100</small>
                                    <small class="text-danger" *ngIf="hasError('interest','required')">
                                        El campo es obligatorio
                                    </small>
                                    <small class="text-danger" *ngIf="hasError('interest','max')">
                                        Valor no puede ser mayor a <strong>{{ this.getErrors('interest').max.max | number }}</strong>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description">Descripción</label>
                                    <textarea type="text" class="form-control text-small" rows="3" placeholder="Descripción" formControlName="description" required></textarea>
                                    <small *ngIf="mustShowError('description')" class="form-text alert-danger">
                                    Descripción, es obligatorio
                                    </small>
                                </div>
                            </div>
                        </div>
                    
                        <!-- botones -->
                        <div class="row justify-content-end">
                            <div class="col-sm-4 text-right align-self-end">
                                <button *ngIf="!creditLine.pk_id_credit_line" type="submit" (click)="createCreditLine()" [disabled]="creditLineForm.invalid" class="btn btn-sm btn-outline-primary" type="button">
                                    <fa-icon [icon]="faSave" class="text-outline-secondary mb-2 mr-1"></fa-icon>Crear
                                </button>
                                <button *ngIf="creditLine.pk_id_credit_line" type="submit" (click)="updateCreditLine()" [disabled]="creditLineForm.invalid" class="btn btn-sm btn-outline-primary" type="button">
                                    <fa-icon [icon]="faSave" class="text-outline-secondary mb-2 mr-1"></fa-icon>Actualizar
                                </button>
                            </div>
                        </div>
                        <!-- botones -->
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>