<article class="card text-small">
  <header class="card-header">
    <span class="card-title">
      <h6>{{ caption }}</h6>
    </span>
  </header>
  <div class="card-body">
    <div class="card-text">
      <div *ngIf="lstMessages">
        <div class="row" *ngFor="let message of lstMessages">
            <div class="alert alert-danger col-sm-12" *ngIf="message.code != 0">
                {{ message.code }} : {{ message.desc}} => {{ message.serverDesc }}
            </div>
            <div class="alert alert-success col-sm-12" *ngIf="message.code == 0">
                {{ message.code }} : {{ message.desc}} => {{ message.serverDesc }}
            </div>
        </div>
      </div>

      <ng-content select="main"></ng-content>
    </div>
  </div>
  <div class="card-footer" *ngIf="status">
    <div *ngIf="status.code != '200'">
        <div class="alert alert-danger" role="alert">
          <h3 class="alert-heading">{{ status.code}} : {{ status.desc }}</h3>
          <hr>
          <p class="mb-0">{{ status.serverDesc }}</p>
        </div>
    </div>
    <div *ngIf="status.code === '200'">
        <div class="alert alert-success" role="alert">
          <h3 class="alert-heading">{{ status.code}} : {{ status.desc }}</h3>
          <hr>
          <p class="mb-0">{{ status.serverDesc }}</p>
        </div>
    </div>
  </div>
  <div class="card-footer">
    <ng-content select="footer"></ng-content>
  </div>
</article>
