<div class="modal fade" id="laboralConditionModal" tabindex="-1" role="dialog" aria-labelledby="laboralConditionModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Condición laboral</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="laboralConditionForm">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="contract_type">Tipo de contrato</label>
                                <select class="form-control form-control-sm" formControlName="contract_type" required>
                                    <option value="" selected>Seleccione...</option>
                                    <option *ngFor="let param of laboralConditionParametersList[type_contract]" value="{{param.value}}">{{ param.name }}</option>
                                </select>
                                <small *ngIf="mustShowError('contract_type')" class="form-text alert-danger">
                                    Tipo de contrato, es obligatorio
                                </small>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="salary_type">Tipo de salario</label>
                                <select class="form-control form-control-sm" formControlName="salary_type" required>
                                    <option value="" selected>Seleccione...</option>
                                    <option *ngFor="let param of laboralConditionParametersList[type_salary]" value="{{param.value}}">{{ param.name }}</option>
                                </select>
                                <small *ngIf="mustShowError('salary_type')" class="form-text alert-danger">
                                    Tipo de salario, es obligatorio
                                </small>
                            </div>
                            <div class="form-group col-sm-6" *ngIf="laboralConditionForm.value.salary_type == 'FIJO'">
                                <label for="salary">Salario</label>
                                <input type="number" class="form-control form-control-sm"  formControlName="salary">
                            </div>
                            <div class="form-group col-sm-6" *ngIf="laboralConditionForm.value.salary_type == 'FIJO'">
                                <label for="period">Período de corte</label>
                                <select class="form-control form-control-sm" formControlName="period">
                                    <option value="" selected>Seleccione...</option>
                                    <option *ngFor="let param of laboralConditionParametersList[laboral_period]" value="{{param.value}}">{{ param.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" *ngIf="laboralConditionForm.value.salary_type != 'FIJO'">
                            <div class="form-group col-sm-6">
                                <label for="production_unit">Unidad de producto</label>
                                <input  type="text" id="filterProduct" (keypress)="onFindProduct($event)" class="form-control form-control-sm"  formControlName="production_unit">
                                <!-- start autocomplete-->
                                <div class="autocomplete container-fluid">
                                    <div id="autocomplete-list" class="autocomplete-items text-ultra-small">
                                        <div class="items row" *ngFor="let product of lstProducts">
                                            <div class="col-sm-12" (click)="selectProduct(product)">
                                                {{ product.code }} - {{ product.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- start autocomplete-->
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="value_product_unit">Valor unidad de producto</label>
                                <input type="number" class="form-control form-control-sm"  formControlName="value_product_unit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"  formControlName="benefit_health">
                                    <label for="benefit_health">Aporta a salud?</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"  formControlName="benefit_pension">
                                    <label for="benefit_pension">Aporta a pensión?</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"  formControlName="benefit_arl">
                                    <label for="benefit_arl">Aporta a arl?</label> 
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"  formControlName="benefit_compensation_box">
                                    <label for="benefit_compensation_box">Aporta a caja de compensación?</label>
                                </div>
                            </div>
                        </div>

                        <!--start buttons form-->
                        <div class="row justify-content-end margin-top-2rem">
                            <div class="col-sm-4 text-right align-self-end">
                                <button *ngIf="laboralCondition.pk_id_laboral_condition" type="submit" (click)="updateLaboralCondition()" [disabled]="laboralConditionForm.invalid" class="btn btn-sm btn-outline-primary" type="button" data-dismiss="modal">
                                    <fa-icon [icon]="faSave" class="text-outline-secondary mb-2 mr-1"></fa-icon>Actualizar
                                </button>
                                <button *ngIf="!laboralCondition.pk_id_laboral_condition" type="submit" (click)="createLaboralCondition()" [disabled]="laboralConditionForm.invalid" class="btn btn-sm btn-outline-primary" type="button" data-dismiss="modal">
                                    <fa-icon [icon]="faSave" class="text-outline-secondary mb-2 mr-1"></fa-icon>Crear
                                </button>
                            </div>
                        </div>
                        <!--end buttons form-->
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>