<app-card caption="Buscar producto">
    <main>
        <form [formGroup]="searchForm">
            <div class="row alert alert-info" role="alert">
                Éste buscador se hace con el fin de poder acceder de manera rápida a un producto, cuando se quiera comprar.
            </div>
            <div class="row align-items-end alert alert-success" role="alert">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="name">Nombre</label>    
                        <input type="text" (keyup.enter)="searchProduct()" class="form-control text-small" placeholder="Nombre" formControlName="name">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="reference">Referencia</label>
                        <input type="text" (keyup.enter)="searchProduct()" class="form-control text-small" placeholder="Referencia" formControlName="reference">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success btn-sm mb-2 mr-1" (click)="searchProduct()">Buscar</button>
                    </div>
                </div>
            </div>
        </form>  

        <div class="row container" *ngIf="productList">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Código</th>
                        <th>Nombre</th>
                        <th>Referencia</th>
                        <th>Precio venta unidad</th>
                        <th>Precio venta paquete</th>
                        <th>Unidades disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prd of productList; let i=index;">
                        <td>
                            <button href="#" (click)="selectProduct(prd.code)" data-dismiss="modal" class="badge badge-success">
                                Agregar
                            </button>
                        </td>
                        <td>
                            {{ prd.code }}
                        </td>
                        <td>
                            {{ prd.name }}
                        </td>
                        <td>
                            {{ prd.reference }}
                        </td>
                        <td>
                            {{ prd.sale_price_unit | number  }}
                        </td>
                        <td>
                            {{ prd.sale_price_package | number  }}
                        </td>
                        <td>
                            {{ prd.units_available  | number  }}
                        </td>
                    </tr>
                </tbody>
            </table>    
        </div>        
    </main>
</app-card>      