<app-pages title="Módulos del sistema">  
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">Módulos del sistema</div>
                    <div class="card-body">
                            <p class="text-justify">
                                A continuación se muestran todos los módulos con los que cuenta el sistema. <br />
                                Dependiendo del rol del usuario se puede acceder a uno o a varios módulos. Si desea tener acceso a un módulo en particular, comuníquese con el administrador del sistema.   
                            </p>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 margin-top-1rem" *ngFor="let module of modules">
                                <div class="card">
                                    <img class="rounded mx-auto d-block" src="{{ url_storage + module.url_image }}" alt="{{ module.description }}" height="100px">
                                    <div class="card-header">
                                        {{ module.name }}
                                    </div>
                                    <div class="card-body text-small text-justify" style="height: 120px">
                                        {{ module.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</app-pages>