<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8 text-left">
                <h5 class="card-title">Períodos del proceso de producción</h5>
            </div>
            <div class="col-sm-4 text-right" *ngIf="productionProcess.state === 'Activo'">
                <div class="btn-group btn-group-sm">
                    <button (click)="createPeriod()" type="button" class="btn btn-outline-primary btn-sm">
                        <fa-icon [icon]="faPlusCircle" class="text-outline-primary mb-2 mr-1"></fa-icon>Crear
                    </button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Periodo</th>
                        <th>Estado</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cuttPeriod of cuttingPeriodList" id="{{cuttPeriod.pk_id_cutting_period}}">
                        <td>
                            <button *ngIf="cuttPeriod.state === 'Abierto'" type="button" (click)="selectPeriod(cuttPeriod)" class="text-ultra-small btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deletePeriod">
                                <fa-icon [icon]="faTrash" class="text-outline-danger mb-2 mr-1"></fa-icon>Eliminar
                            </button>    
                            <button (click)="getDataByCuttingPeriod(cuttPeriod.pk_id_cutting_period);selectPeriod(cuttPeriod)" class="text-ultra-small btn btn-outline-primary btn-sm" type="button">
                                <fa-icon [icon]="faArrowCircleRight" class="text-outline-primary mb-2 mr-1"></fa-icon>Productos
                            </button>
                            <button *ngIf="cuttPeriod.pk_id_cutting_period === cuttingPeriod.pk_id_cutting_period && cuttingPeriod.state === 'Abierto'" type="button" (click)="selectPeriod(cuttPeriod)" class="text-ultra-small btn btn-outline-primary btn-sm" data-toggle="modal" data-target=".bd-modal-lg">
                                <fa-icon [icon]="faFolderPlus" class="text-outline-primary mb-2 mr-1"></fa-icon>Agregar producto
                            </button>
                        </td>
                        <td>{{ cuttPeriod.state }}</td>
                        <td>{{ cuttPeriod.period }}</td>
                        <td>{{ cuttPeriod.date_init }}</td>
                        <td>{{ cuttPeriod.date_end }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deletePeriod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación de mensaje</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert">
                Se va a eliminar un registro, desea confirmar la operación?.
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="deletePeriod()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
        </div>
        </div>
    </div>
</div>

<app-product-form-modal
    [cuttingPeriod]="cuttingPeriod"
    [detailProductInput]="detailProductInput"
    (onCreateDetailProduct)="onCreateDetailProduct($event)"
></app-product-form-modal>