<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive container">
                    <!-- primera fila, sección de buscador-->
                    <div class="row">
                        <div class="btn-group">
                            <button type="button" (click)="createClient()" class="btn text-ultra-small btn-sm btn-outline-primary">
                                <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>
                            </button>
                            <button type="button" class="btn text-ultra-small btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                <fa-icon [icon]="faSearch" class="text-secondary mb-2 mr-1" title="Ver registro"></fa-icon>
                            </button>
                            <div class="dropdown-menu box-350">
                                <div class="container text-ultra-small">
                                    <form [formGroup]="searchForm">
                                        <div class="row alert alert-secondary" role="alert">
                                            <div class="col-sm-12  alert alert-info" role="alert">
                                               El buscador permite buscar por Id, nombres y apellidos. 
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control text-ultra-small" placeholder="filtros" formControlName="filter">
                                                    <div class="input-group-prepend">
                                                        <button [disabled]="searchForm.invalid" type="button" class="btn text-ultra-small btn-sm btn-outline-secondary"  (click)="searchPerson()">
                                                            <fa-icon [icon]="faSearch" class="text-secondary mb-2 mr-1" title="Buscar registro"></fa-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fin primera fila, sección de buscador-->
                    
                    <div class="row">
                        <div class="col-sm-12 text-small text-sm-right">
                            <span class="font-weight-bold text-ultra-small">[Total]: </span>{{ clientList.number_results }}
                            <span class="font-weight-bold text-ultra-small">[Criterio]: </span>{{ clientList.criteria }}
                        </div>       
                    </div>

                    <!-- Segunda fila: table -->
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Acciones</th>
                                    <th>Cliente</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let client of clientList.data_results | slice:(actualPg*regPerPg):((actualPg*regPerPg))+(regPerPg); let i=index;">
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn text-ultra-small btn-sm btn-outline-warning" (click)="showClient(client.pk_id_person)">
                                                <fa-icon [icon]="faEye" class="text-warning mb-2 mr-1" title="Ver registro"></fa-icon>Ver
                                            </button>
                                            <button type="button" class="btn text-ultra-small btn-sm btn-outline-success" (click)="updateClient(client.pk_id_person)">
                                                <fa-icon [icon]="faEdit" class="text-success mb-2 mr-1" title="Ver registro"></fa-icon>Editar
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-12"><b>Id: {{ client.type_id }} {{ client.number_id}}</b></div>
                                            <div class="col-sm-12"><b>Nombres: {{ client.names }} {{ client.last_names}}</b></div>
                                            <div class="col-sm-12"><b>Dirección:</b> {{ client.address }}</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Fin segunda fila -->

                    <!-- Tercera fila: paginador -->
                    <div class="row border-type-2" role="alert">
                        <div class="col-sm-12">
                            <nav aria-label="pgs">
                                <ul class="pagination pagination-sm justify-content-end">
                                    <div *ngFor="let pg of totalPgs">
                                        <li class="page-item active" *ngIf="pg === actualPg">
                                            <a class="page-link" (click)="setActualPg(pg)">
                                                {{ pg+1 }}<span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                        <li class="page-item" *ngIf="pg != actualPg">
                                            <a class="page-link" (click)="setActualPg(pg)">
                                                {{ pg+1 }}<span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Fin tercera fila -->
        
                    <!-- Tercera fila: paginador -->
                    <div class="row">

                    </div>
                    <!-- Fin tercera fila -->
                </div>
            </div>
        </div>
    </div>
</div>    