<app-pages title="Productos">  
    <main>            
        <section>
            <!-- start menu main-->
            <div class="row bg-gray">
                <div class="col-sm-6 text-left">
                    Listado de productos
                </div>
                <div class="col-sm-6 text-right">
                    <div class="btn-group btn-group-sm">
                        <button (click)="crtProduct('food')" type="button" class="btn btn-outline-primary btn-sm">
                            <fa-icon [icon]="faPlusCircle" class="text-outline-primary mb-2 mr-1"></fa-icon>Otros productos
                        </button>
                        <button (click)="crtProduct('clothes')" type="button" class="btn btn-outline-primary btn-sm">
                            <fa-icon [icon]="faPlusCircle" class="text-outline-primary mb-2 mr-1"></fa-icon>Vestuario
                        </button>
                    </div>
                </div>
            </div>
            <!-- end menu main-->

            <!--inicio buscador de productos -->
            <div class="row margin-top-1rem">
                <div class="col-sm-12 text-ultra-small">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="row" id="headingOne">
                                <div class="col-sm-8">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <fa-icon [icon]="faSearch" class="text-outline-primary mb-2 mr-1"></fa-icon>Buscador de producto
                                    </button>
                                </div>                
                                <div class="col-sm-4 text-right">
                                    <button class="btn btn-link" (click)=loadAllProductsByEnterprise(user.fk_id_enterprise) type="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                        <fa-icon [icon]="faSearch" class="text-outline-primary mb-2 mr-1"></fa-icon>Cargar por defecto
                                    </button>
                                </div>                
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input id="codeProduct" (keypress)="onFindProductByCode($event)" class="form-control form-control-sm" type="text" placeholder="Digite Código de barras">
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="nameProduct" (keypress)="onFindProductByName($event)" class="form-control form-control-sm" type="text" placeholder="Digite Nombre de producto">
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="referenceProduct" (keypress)="onFindProductByReference($event)" class="form-control form-control-sm" type="text" placeholder="Digite Referencia de producto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-ultra-small">
                    <p class="alert alert-info">
                        Se muestra un listado de los 20 últimos registros. Para obtener otros productos, utilice el buscador.
                    </p>
                </div>
            </div>
            <!--fin buscador de productos -->

            <!-- start content -->
            <div class="row margin-top-1rem">
                <div class="col-sm-12">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm table-striped">
                                <thead class="bg-secondary text-white">
                                    <tr>
                                        <th>Acciones</th>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Referencia</th>
                                        <th>Presentación</th>
                                        <th>Paquetes disponibles</th>
                                        <th>Unidades disponibles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of lstProducts">
                                        <td>
                                            <div class="btn-group">
                                                <a routerLink='../show/{{ product.pk_id_product }}'  type="button" class="btn text-ultra-small btn-sm btn-outline-primary">
                                                    <fa-icon [icon]="faEye" class="text-primary mb-2 mr-1" title="Ver registro"></fa-icon>Ver
                                                </a>
                                                <button type="button" class="btn text-ultra-small btn-sm btn-outline-primary" (click)="updProduct(product.category,product.pk_id_product)">
                                                    <fa-icon [icon]="faEdit" class="text-primary mb-2 mr-1" title="Actualizar registro"></fa-icon>Editar
                                                </button>
                                                <button type="button" (click)="selectProduct(product)" class="text-ultra-small btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteProduct">
                                                    <fa-icon [icon]="faTrash" class="text-outline-danger mb-2 mr-1"></fa-icon>Eliminar
                                                </button> 
                                            </div>
                                        </td>
                                        <td>{{ product.code }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.reference }}</td>
                                        <td>{{ product.presentation }}</td>
                                        <td *ngIf="product.presentation != 'INDIVIDUAL'">
                                            {{ product.units_available / product.units_package | number }}
                                        </td>
                                        <td *ngIf="product.presentation == 'INDIVIDUAL'">
                                            0
                                        </td>
                                        <td>
                                            <fa-icon [icon]="faFlag" [ngClass]="getClassByUnits(product.units_available)"></fa-icon>
                                            {{ product.units_available | number }}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2"><fa-icon [icon]="faFlag" class="text-danger mb-2 mr-1"></fa-icon>Entre 0 y {{ valMin | number}}</th>
                                        <th colspan="2"><fa-icon [icon]="faFlag" class="text-warning mb-2 mr-1"></fa-icon>Entre {{ valMin | number}} y {{ valMedium | number}}</th>
                                        <th colspan="2"><fa-icon [icon]="faFlag" class="text-success mb-2 mr-1"></fa-icon> > a {{ valMedium | number}} </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content -->
        </section>
    </main>
</app-pages>


<!-- Modal -->
<div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog" aria-labelledby="deleteProduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación de mensaje</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert">
                Se va a eliminar un registro, desea confirmar la operación?.
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="deleteProduct()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
        </div>
        </div>
    </div>
</div>