<app-card caption="Gestión de información de opción">
    <main>
        <h5 *ngIf="option.pk_id_option">Actualización de información</h5>
        <h5 *ngIf="!option.pk_id_option">Creación de registro</h5>
        <form [formGroup]="optionForm">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" class="form-control text-small" placeholder="Código" formControlName="code" required>
                        <small *ngIf="mustShowError('code')" class="form-text alert-danger">
                        Código es obligatorio
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea rows="3" class="form-control text-small" formControlName="Descripción"></textarea>
                        <small *ngIf="mustShowError('description')" class="form-text alert-danger">
                        Descripción es obligatorio
                        </small>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <button *ngIf="option.pk_id_option" type="submit" data-dismiss="modal" data-dismiss="modal" class="btn btn-outline-success btn-sm mb-2 mr-1"
        [disabled]="optionForm.invalid"
        (click)="updateOption()">Actualizar</button>

        <button *ngIf="!option.pk_id_option" type="submit" data-dismiss="modal" class="btn btn-outline-primary btn-sm mb-2 mr-1"
        [disabled]="optionForm.invalid"
        (click)="createOption()">Guardar</button>
    </footer>
</app-card>      