<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8 card-title">
                <h5>Información detallada</h5>
            </div>
            <div class="col-sm-4 text-right">
                <div class="btn-group btn-group-sm">
                    <button (click)="getParametersData()" type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target=".bd-modal-process-new-lg">
                        <fa-icon [icon]="faPlusCircle" class="text-outline-primary mb-2 mr-1">Crear</fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table table-sm table-striped">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th colspan="2">Referencia</th>
                        <th>Período definido</th>
                        <th>Fecha inicial</th>
                        <th>Fecha final</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prdProd of productionProcessList">
                        <td>
                            <button (click)="selectElement(prdProd)" class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                                <fa-icon [icon]="faEye" class="text-outline-secondary mb-2 mr-1"></fa-icon>
                            </button>
                        </td>
                        <td>{{ prdProd.reference }}</td>
                        <td>{{ prdProd.defined_period }}</td>
                        <td>{{ prdProd.date_init }}</td>
                        <td>{{ prdProd.date_end }}</td>
                        <td>{{ prdProd.state }}</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
</div>

<app-process-form-modal
[definedPeriodList]="definedPeriodList"
[fk_id_enterprise]="fk_id_enterprise"
(onCreate)="onCreate($event)"
></app-process-form-modal>