<app-pages title="Opciones del sistema">  
    <main>
        <section>
            <div class="row container-fluid">    
                <div [ngClass]="getClassNew()">
                    <app-new-option
                    [option]="option"
                    (create)="onCreate($event)"
                    (update)="onUpdate($event)"
                    (cancelNew)="onCancelNew($event)"
                    >
                    </app-new-option>
                </div>   
                <div [ngClass]="getClassList()">
                    <app-list-option
                    [optionList]="optionList"
                    [actualPg]="actualPg"
                    [regPerPg]="regPerPg"
                    (new)="onNew($event)"
                    (del)="onDelete($event)"
                    >
                    </app-list-option> 
                </div>
            </div>
        </section>
    </main>
</app-pages>