<div class="row margin-top">
    <div *ngIf="!showInvoice" class="col-sm-8">
        <app-new-invoice
        [paymentTypeList]="paymentTypeList"
        [discountsList]="discountsList"
        [typeIdsList]="typeIdsList"
        [taxesList]="taxesList"
        [operation]="operation"
        [product]="product"
        [client]="client"
        (getByCode)="onGetByCode($event)"
        (getPerson)="onGetPerson($event)"
        (resetProduct)="onResetProduct($event)"
        (create)="onCreate($event)"
        >
        </app-new-invoice>
    </div>
    <div *ngIf="showInvoice" class="col-sm-8">
        <app-show-invoice
        [operation]="operation"
        [client]="client"
        (create)="onCreatePayment($event)"
        >
        </app-show-invoice>
    </div>
    <div class="col-sm-4">
        <app-list-invoice
        [orderList]="orderList"
        [actualPg]="actualPg"
        [regPerPg]="regPerPg"
        (viewOrder)="onView($event)"
        (updateOrder)="onUpdate($event)"
        (search)="onSearch($event)"
        >
        </app-list-invoice>
    </div>
</div>