<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8 card-title">
                <h5>Listado de productos</h5>
            </div>
            <div class="col-sm-4 text-right">
                <div class="btn-group btn-group-sm">
                    <button type="button" (click)="crtProduct()" class="btn btn-sm btn-outline-primary">
                        <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table table-sm table-striped">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th>Acciones</th>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Presentación</th>
                        <th>Tipo de producto</th>
                        <th colspan="2">Unidades disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prd of productList.data_results">
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn text-ultra-small btn-sm btn-outline-primary" (click)="showProduct(prd.pk_id_product)">
                                    <fa-icon [icon]="faEye" class="text-primary mb-2 mr-1" title="Ver registro"></fa-icon>Ver
                                </button>
                                <button type="button" class="btn text-ultra-small btn-sm btn-outline-primary" (click)="updProduct(prd)">
                                    <fa-icon [icon]="faEdit" class="text-primary mb-2 mr-1" title="Actualizar registro"></fa-icon>Editar
                                </button>
                            </div>
                        </td>
                        <td>{{ prd.name }}</td>
                        <td>{{ prd.category }}</td>
                        <td>{{ prd.presentation }}</td>
                        <td>{{ prd.type_product }}</td>
                        <td>{{ prd.units_available }}</td>
                        <td><fa-icon [icon]="faFlag" [ngClass]="getClassByUnits(prd.units_available)"></fa-icon></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2"><fa-icon [icon]="faFlag" class="text-danger mb-2 mr-1"></fa-icon>Entre 0 y {{ valMin | number}}</th>
                        <th colspan="2"><fa-icon [icon]="faFlag" class="text-warning mb-2 mr-1"></fa-icon>Entre {{ valMin | number}} y {{ valMedium | number}}</th>
                        <th colspan="2"><fa-icon [icon]="faFlag" class="text-success mb-2 mr-1"></fa-icon> > a {{ valMedium | number}} </th>
                    </tr>
                </tfoot>
            </table>    
        </div>
    </div>
</div>
