<!-- card para información sobre proceso productivo-->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="btn-group btn-group-sm">
                    <div class="dropdown" *ngIf="!product.pk_id_product">
                        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Crear producto
                        </button>
                        <div class="dropdown-menu" aria-labelledby="options">
                            <button (click)="selectProduct(categ.value)" *ngFor="let categ of categoryList" class="dropdown-item" type="button">{{ categ.name }}</button>
                        </div>
                    </div>
                    
                    <button (click)="viewList()" type="button" class="btn btn-outline-primary btn-sm">
                        <fa-icon [icon]="faThList" class="text-outline-primary mb-2 mr-1"></fa-icon>Ver todos
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 alert alert-info" *ngIf="!product.pk_id_product">
                <h2 >Crear producto</h2>
                <p>En éste formulario puede crear información de productos de Vestir, Alimenticio, Insumos y productos intemedios, para elegir que tipo de producto va a crear, seleccione en la opción de Crear producto y seleccione el tipo de producto a crear.</p>
            </div>
            <div class="col-sm-12 alert alert-success" *ngIf="product.pk_id_product">
                <h2 >Actualizar producto</h2>
                <p>En éste formulario puede actualizar información de productos de Vestir, Alimenticio, Insumos y productos intemedios, para elegir que tipo de producto va a crear, seleccione en la opción de Crear producto y seleccione el tipo de producto a crear.</p>
            </div>
        </div>
        <div class="row" *ngIf="productCategory === clothes">
            <!-- fila principal-->
            <div class="col-sm-12">
                <app-clothes-form
                [product]="product"
                [presentationList]="presentationList"
                [typeProductList]="typeProductList"
                (onCreate)="createProduct($event)"
                (onUpdate)="updateProduct($event)"
                ></app-clothes-form>
            </div>
            <!-- final de fila principal-->
        </div>

        <div class="row" *ngIf="productCategory === medicine">
            <!-- fila principal-->
            <div class="col-sm-12">
                en construcción.
            </div>
            <!-- final de fila principal-->
        </div>

        <div class="row" *ngIf="productCategory === food">
            <!-- fila principal-->
            <div class="col-sm-12">
                <app-food-form
                [product]="product"
                [presentationList]="presentationList"
                [typeProductList]="typeProductList"
                (onCreate)="createProduct($event)"
                (onUpdate)="updateProduct($event)"
                ></app-food-form>            
            </div>
            <!-- final de fila principal-->
        </div>

        <div class="row" *ngIf="productCategory === chemicalInput">
            <!-- fila principal-->
            <div class="col-sm-12">
                <app-chemical-input-form
                [product]="product"
                [presentationList]="presentationList"
                [typeProductList]="typeProductList"
                (onCreate)="createProduct($event)"
                (onUpdate)="updateProduct($event)"
                ></app-chemical-input-form>
            </div>
            <!-- final de fila principal-->
        </div>
    </div>
    <div class="card-footer">
        <button type="button" (click)="viewList()" class="btn btn-outline-danger btn-sm mb-2 mr-1">Cancelar</button>
    </div>
</div>