<app-card caption="Gestión de información de producto">
        <main>
            <h5>Creación de producto</h5>
            <form [formGroup]="productForm">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="category">Categoría</label>
                            <select class="form-control form-control-sm text-small" formControlName="category" required (change)="setInfoByCategory()">
                                <option value="{{categ.value}}" *ngFor="let categ of categoryList[0]">{{categ.name}}</option>
                            </select>
                            <small *ngIf="mustShowError('category')" class="form-text alert-danger">
                            Categoría de producto
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control text-small" placeholder="nombre" formControlName="name" required>
                            <small *ngIf="mustShowError('name')" class="form-text alert-danger">
                            Nombre es obligatorio
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="code">Código de barras</label>
                            <input type="text" class="form-control text-small" placeholder="código de barras" formControlName="code" required>
                            <small *ngIf="mustShowError('code')" class="form-text alert-danger">
                            Código es obligatorio
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" *ngIf="showPresentationInfo">
                        <div class="form-group">
                            <label for="presentation">Presentación</label>
                            <select class="form-control form-control-sm text-small" formControlName="presentation" required (change)="setInfoByPresentation()">
                                <option value="{{presentation.value}}" *ngFor="let presentation of presentationList[0]">{{presentation.name}}</option>
                            </select>
                            <small *ngIf="mustShowError('presentation')" class="form-text alert-danger">
                            Presentación de productoes obligatorio
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="type_product">Tipo de producto</label>
                            <select class="form-control form-control-sm text-small" formControlName="type_product" required>
                                <option value="{{type.value}}" *ngFor="let type of typeProductList[0]">{{type.name}}</option>
                            </select>
                            <small *ngIf="mustShowError('type_product')" class="form-text alert-danger">
                                Tipo de producto, es obligatorio
                            </small>
                        </div>
                    </div>  
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="sale_price_unit">Precio venta por unidad</label>
                            <input type="number" class="form-control text-small" placeholder="precio venta unidad" formControlName="sale_price_unit" required>
                            <div class="row">
                                <div class="col-sm-12">
                                    <small class="form-text alert-primary">
                                        El campo debe ser numérico
                                    </small>
                                </div>
                            </div>
                            <small *ngIf="mustShowError('sale_price_unit')" class="form-text alert-danger">
                                Precio venta por unidad es obligatorio
                            </small>
                        </div>
                    </div> 
                </div>
                <div class="row" *ngIf="showPackageInfo">    
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="units_package">Unidades por paquete</label>
                            <input type="number" class="form-control text-small" placeholder="unidades por paquete" formControlName="units_package">
                            <div class="row">
                                <div class="col-sm-12">
                                    <small class="form-text alert-primary">
                                        El campo debe ser numérico
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="sale_price_package">Precio de venta por paquete</label>
                            <input type="number" class="form-control text-small" placeholder="precio venta paquete" formControlName="sale_price_package">
                            <div class="row">
                                <div class="col-sm-12">
                                    <small class="form-text alert-primary">
                                        El campo debe ser numérico
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row" *ngIf="showClothingInfo">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="reference">Referencia</label>
                            <input type="text" class="form-control text-small" placeholder="Referencia" formControlName="reference">
                        </div>
                    </div> 
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="size">Talla</label>
                            <input type="text" class="form-control text-small" placeholder="Talla" formControlName="size">
                        </div>
                    </div> 
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text" class="form-control text-small" placeholder="Color" formControlName="color">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="trademark">Marca</label>
                            <input type="text" class="form-control text-small" placeholder="Marca" formControlName="trademark">
                        </div>
                    </div> 
                </div>
            </form>
        </main>
        <footer>
                <button *ngIf="!product.pk_id_product" type="submit" class="btn btn-outline-success btn-sm mb-2 mr-1" [disabled]="productForm.invalid" data-dismiss="modal" (click)="createProduct()">Guardar</button>
                <button *ngIf="product.pk_id_product" type="submit" class="btn btn-outline-primary btn-sm mb-2 mr-1" [disabled]="productForm.invalid" data-dismiss="modal" (click)="updateProduct()">Actualizar</button>
            <button type="button" class="btn btn-outline-danger btn-sm mb-2 mr-1" data-dismiss="modal">Cancelar</button>
        </footer>
    </app-card>      