<app-pages title="Detalle de producto">  
    <main>       
        <section>
            <!-- start menu main-->
            <div class="row bg-gray">
                <div class="col-sm-6 text-left">
                    Detalle de producto
                </div>
                <div class="col-sm-6 text-right">
                    <div class="btn-group btn-group-sm">
                        <a routerLink='/sales-admin/products/stocks/list' class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                            <fa-icon [icon]="faThList" class="text-outline-secondary mb-2 mr-1"></fa-icon>Ver todos
                        </a>
                    </div>
                </div>
            </div>
            <!-- end menu main-->

            <!-- start content -->
            <div class="row margin-top-1rem">
                <div class="col-sm-12">
                    
                    <!-- start main info-->
                    <div class="row margin-top-1rem">

                        <!-- start provider info-->
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">Información básica</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6"><h6>Nombre</h6></div>
                                                <div class="col-sm-6">{{ product.name }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6"><h6>Código de barras</h6></div>
                                                <div class="col-sm-6">{{ product.code }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6"><h6>Presentación</h6></div>
                                                <div class="col-sm-6">{{ product.presentation }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6"><h6>Tipo de producto</h6></div>
                                                <div class="col-sm-6">{{ product.type_product }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6"><h6>Referencia</h6></div>
                                                <div class="col-sm-6">{{ product.reference }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6"><h6>Categoria</h6></div>
                                                <div class="col-sm-6">{{ product.category }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h6>Código de barras</h6>
                                                    <p>
                                                        <img src="data:image/png;base64,{{ product.url_barcode }}" alt="barcode" />
                                                    </p>
                                                    <p>
                                                        <button (click)="getPDFCode(product.html_barcode)" class="btn btn-sm btn-outline-primary text-ultra-small">
                                                            Imprimir código de barra
                                                        </button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- inicio vestuario-->
                                <div class="col-sm-12 margin-top-1rem" *ngIf="product.category == 'VESTUARIO'">
                                    <div class="card">
                                        <div class="card-header">Información adicional</div>
                                        <div class="card-body">
                                            <div class="row" *ngIf="product.category == 'VESTUARIO'">
                                                <div class="col-sm-6">Talla</div>
                                                <div class="col-sm-6">{{ product.size }}</div>
                                            </div>
                                            <div class="row" *ngIf="product.category == 'VESTUARIO'">
                                                <div class="col-sm-6">Color</div>
                                                <div class="col-sm-6">{{ product.color }}</div>
                                            </div>
                                            <div class="row" *ngIf="product.category == 'VESTUARIO'">
                                                <div class="col-sm-6">Marca</div>
                                                <div class="col-sm-6">{{ product.trademark }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end vestuario-->


                            </div>
                        </div>
                        <!-- start provider info-->

                        <!-- start provider info-->
                        <div class="col-sm-6">
                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">Información comercialización</div>
                                        <div class="card-body">
                                            <div class="row" *ngIf="product.presentation != 'INDIVIDUAL'">
                                                <div class="col-sm-6">Unidades por {{ product.presentation }}</div>
                                                <div class="col-sm-4">{{ product.size }}</div>
                                            </div>
                                            <div class="row" *ngIf="product.presentation == 'INDIVIDUAL'">
                                                <div class="col-sm-8">Precio de venta por unidad</div>
                                                <div class="col-sm-4">{{ product.sale_price_unit | number }}</div>
                                            </div>
                                            <div class="row" *ngIf="product.presentation != 'INDIVIDUAL'">
                                                <div class="col-sm-8">Precio de venta por paquete</div>
                                                <div class="col-sm-4">{{ product.sale_price_package | number }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">Costo por unidad</div>
                                                <div class="col-sm-4">{{ product.cost_price | number }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">Costo de producción por unidad</div>
                                                <div class="col-sm-4">{{ product.cost_production | number }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8 text-primary"><h5>Unidades disponibles</h5></div>
                                                <div class="col-sm-4 text-primary"><h5>{{ product.units_available | number }}</h5></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- inicio vestuario-->
                                <div class="col-sm-12  margin-top-1rem">
                                    <div class="card">
                                        <div class="card-header">Información proveedores del producto</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <table class="table table-sm table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>NIT</th>
                                                            <th>Nombre</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let nameProvider of providerList">
                                                            <td>{{ nameProvider['external_reference'].split(':')[3] }}</td>
                                                            <td>{{ nameProvider['external_reference'].split(':')[2] }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end vestuario-->
                            </div>
                        </div>
                        <!-- start provider info-->
                    </div>
                    <!-- end main info-->
                </div>
            </div>
            <!-- end content -->
        </section>
    </main>
</app-pages>  
