<app-pages title="Página principal">  
  <main>
    <section>
      <h3>Sales system</h3>
      <article>
          <p class="text-justify">
          El sistema de información SAMO – ERP, fue concebido y diseñado para prestar ayuda a las pequeñas y medianas empresas que a diario se ven enfrentadas a las dificultades de no tener una herramienta (informática en éste caso) que les permita llevar de una manera más eficiente el ejercicio de su negocio, facilitando procesos de compras, ventas, recaudos, inventarios, gestión de personas, seguridad en la información e indicadores de gestión.
        </p>
      </article>
    </section>
    <section>
        <article>
            <p class="text-justify">
              Con SAMO, se puede automatizar tareas de seguimiento y control de su negocio, permitiendo dedicar el tiempo a otras tareas que le den un empuje a su negocio. 
              SAMO, está orientado a empresas en el sector de retail, droguerías, salsamentarías, almacenes de cadena, a pequeños hoteles y en general a cualquier empresa que comercialice productos y artículos y que necesite llevar un control de dicho proceso de comercialización.            
            </p>
          </article>
    </section>
  </main>
</app-pages>
