<app-pages title="Página principal">  
  <main>
    <section>
      <!-- sección primera-->
      <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="card" style="height: 280px">
              <div class="card-header bg-custom text-white"><h4>Arquitectura</h4></div>
              <div class="card-body text-justify">
                <p>
                    SalesSystem fue diseñado bajo un enfoque de arquitectura distribuida y orientada a web, para ofrecer el acceso a la información en tiempo real 
                    y con una alta disponibilidad. Se desarrollo bajo tecnologías de punta, para ofrecer una mejor experiencia de usuario, seguridad, accesibilidad y escalabilidad 
                    cuando el asi se requiera
                </p>

                <p>
                  SalesSystem, a pesar de ser orientado a un ambiente web, también se puede instalar de forma local a través de la instalación de una máquina virtuales
                  con todo el software requerido para que el sistema pueda funcionar adecuadamente y bajo unas condiciones de seguridad que exige su negocio.
                </p>                
              </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6">
            <div class="card" style="height: 280px">
                <div class="card-header bg-custom-1 text-white"><h4>Tecnologia</h4></div>
                <div class="card-body text-justify">
                  <p>
                      SalesSystem, fue construido con tecnología que se encuentra a la vanguardia.
                  </p>
                  <p>
                      Es así como se eligió como framework de desarrollo para la capa de presentación a AngularJS versión 6.
                  </p>
                  <p>
                    Se construye el backend en PHP-Laravel versión 5.1, y se exponen recuersos REST para dar accesibilidad a múltiples clientes
                  </p>
                </div>
              </div>
        </div>

      </div>
      <!-- seccion primera-->
      <div class="row margin-top-1rem">
          <div class="col-sm-12 col-lg-12">
              <div class="card">
                <div class="card-header bg-custom-2 text-white"><h4>Sales System</h4></div>
                <div class="card-body text-justify">
                  <p>
                      SalesSystem es un software facíl y sencillo diseñado para pymes donde puedes llevar al día y desde cualquier 
                      lugar la administraciónj del negocio en lo concerniente a ventas, compras, inventarios, procesos productivos y 
                      muchas funciones, incluyendo reportes contables de tu negocio de forma eficiente y segura.
                  </p>
    
                  <p>
                      Igualmente, permite tener la información organizada, centralizada y organizada para que conocer el estado del
                      negocio en tiempo real. SalesSystem es una solución ideal para empresas independientes, prestadores de
                      servicios, empresas en el sector de retail, droguerías,
                      salsamentarías, almacenes de cadena y comercio al detal, entre otros.
                  </p>
    
                  <p>
                      Puedes realizar facturas, llevar el control de gastos, recaudos, bancos, inventarios,
                      indicadores de gestión y mucho más. También genera tus facturas como un archivo
                      PDF que puedes imprimir o enviar por correo a tus clientes como factura original.
                  </p>
                </div>
              </div>
            </div>
      </div>
    </section>
  </main>
</app-pages>
