<div class="container-fluid">

    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-12 text-center">
          <h2>Sales System</h2>
        </div>
      </div>
    </header>
  
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic">Sistema de gestión y control de ventas</h1>
      <p class="lead my-3">SalesSystem es un software fácil y sencillo, diseñado para pymes donde puedes llevar día a día y desde cualquier 
          lugar, la administración de su información. El sistema ofrece soporte para los procesos de ventas, compras, inventarios, procesos productivos; incluyendo reportes
          contables de forma eficiente y segura.</p>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Arquitectura</strong>
          <p class="card-text mb-auto">
              SalesSystem fue diseñado bajo un enfoque de arquitectura distribuida y orientada a web, para ofrecer el acceso a la información en tiempo real 
              y con una alta disponibilidad.
          </p>
          <p class="cart-text mb-auto">
              Se desarrollo bajo tecnologías de punta, para ofrecer una mejor experiencia de usuario, seguridad, accesibilidad y escalabilidad 
              cuando el sistema, así se requiera.
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="assets/images/arquitectura.png" width="200" height="250" background="#55595c" color="#eceeef" text="Thumbnail">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Tecnología</strong>
          <p class="mb-auto">
              Para la construcción del sistema se eligió para desarrollo de la capa de presentación a AngularJS versión 6 y para la lógica de negocio se escogió a PHP-Laravel versión 5.1, y se exponen recursos REST para dar accesibilidad a múltiples clientes.
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="assets/images/tecnologia.png" width="200" height="250" background="#55595c" color="#eceeef" text="Thumbnail">
        </div>
      </div>
    </div>


    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            Módulos del sistema
          </h3>
      
          <div class="blog-post">
            <h2 class="blog-post-title">Compras</h2>
            <p>El módulo de compras permite una gestión organizada de todas las compras realizadas por la empresa, permite llevar un control sobre las compras por período de tiempo, cuentas por pagar, estado de cuenta por proveedor, tiempo de recaudo de facturas, entre otras funcionalidades.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Ventas</h2>
            <p>El módulo de ventas permite una gestión organizada de todas las facturas generadas, permite llevar un control sobre las ventas por período de tiempo, cuentas por cobrar, estado de cuenta por clientes, tiempo de recaudo de facturas, entre otras funcionalidades.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Inventarios</h2>
            <p>El módulo de inventarios gestiona la información de todos los productos que se puedan comercializar, ya sean; productos comprados a terceros o producidos por la empresa. Igualmente permite llevar un control de inventarios, generación de código de barras propios y reportes de productos.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Recurso Humano</h2>
            <p>Módulo que permite llevar un registro sobre todas las personas que tienen algún vínculo con la empresa, pueden ser clientes o trabajadores, para los trabajadores, permite llevar un registro sobre contratación, novedades de nómina, pago de salario, entre otras funcionalidades.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Procesos de producción</h2>
            <p>Este módulo, permite llevar un control sobre los productos que produce la empresa para comercializar, llevando un control sobre los insumos necesarios en cada proceso productivo, dividiendo el proceso en períodos de corte para un mayor control sobre los productos, tanto resultantes como insumos utilizados en cada período.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Liquidación</h2>
            <p>Módulo que permite llevar un control sobre las liquidaciones realizadas dado un período, para cada trabajador de la empresa, el sistema permite generar pagos por unidad productiva o salario fijo.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Egresos</h2>
            <p>Módulo que gestiona los gastos realizados por la empresa dia a dia, permite llevar una numéración consecutiva y/o facturas equivalentes.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Empresas</h2>
            <p>En el módulo de empresas, se lleva un control sobre todas las empresas proveedoras con las que la empresa tiene alguna relación, permitiendo hacer un seguimiento histórico de compras y cuentas por pagar.</p>
          </div><!-- /.blog-post -->
          
          <div class="blog-post">
            <h2 class="blog-post-title">Administración y gestión de acceso</h2>
            <p>Toda la administración de usuarios, roles y permisos para usuarios, se realiza en éste módulo. Se garantiza la seguridad de la información contenida en el sistema, dado que implementa un sistema de acceso por token bajo encriptación SSH con algoritmo de cifrado SHA156. Se configura un tiempo de expiración del token para renovar accesos y validar seguridad.</p>
          </div><!-- /.blog-post -->
          
          
        </div><!-- /.blog-main -->
      
        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">Noticias destacadas</h4>
            <p class="mb-0">En esta sección se muestran las publicaciones destacadas de la semana.</p>
          </div>
        </aside><!-- /.blog-sidebar -->
      
      </div><!-- /.row -->
      
      </main><!-- /.container -->
  </div>


</div>