<app-card caption="Gestión de información de empleados">
    <main>
        <h5>Creación de Empleado</h5>
        <div class="alert alert-info">En éste formulario se permite crear información personal para un empleado de la empresa del usuario loggueado.</div>
        <form [formGroup]="personForm">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="type_id">Tipo de identificación</label>
                        <select class="form-control form-control-sm text-small" formControlName="type_id" required>
                            <option value="{{param.value}}" *ngFor="let param of typesIdList">{{param.name}}</option>
                        </select>
                        <small *ngIf="mustShowError('type_id')" class="form-text alert-danger">
                            Tio de id, es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="number_id">Número de identificación</label>
                        <input type="text" class="form-control text-small" placeholder="Número de identificación" formControlName="number_id" required>
                        <small *ngIf="mustShowError('number_id')" class="form-text alert-danger">
                            Número de id, es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="names">Nombres</label>
                        <input type="text" class="form-control text-small" placeholder="Nombres" formControlName="names" required>
                        <small *ngIf="mustShowError('names')" class="form-text alert-danger">
                            Nombres es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="last_names">Apellidos</label>
                        <input type="text" class="form-control text-small" placeholder="Apellidos" formControlName="last_names" required>
                        <small *ngIf="mustShowError('last_names')" class="form-text alert-danger">
                            Apellidos es obligatorio
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        <input type="text" class="form-control text-small" placeholder="Dirección" formControlName="address">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input type="text" class="form-control text-small" placeholder="Teléfono" formControlName="phone">
                    </div>
                </div>
            </div>

            <!-- datos de empresa-->
            <div class="row info-left">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fk_id_position">Cargo</label>
                        <select class="form-control form-control-sm text-small" formControlName="fk_id_position" required>
                            <option value="{{position.pk_id_position}}" *ngFor="let position of postitionList">{{position.name}}</option>
                        </select>
                        <small *ngIf="mustShowError('fk_id_position')" class="form-text alert-danger">
                            Cargo en empresa es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="date_register">Fecha de inicio de actividades</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="btn text-small btn-sm btn-outline-primary" [owlDateTimeTrigger]="date_register"><fa-icon [icon]="faCalendar" class="text-primary"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control text-small" placeholder="Fecha inicio contrato" formControlName="date_register" [owlDateTime]="date_register">
                        <owl-date-time [pickerType]="'calendar'" #date_register></owl-date-time>
                        <small *ngIf="mustShowError('date_register')" class="form-text alert-danger">
                            Fecha inicio de actividades, es obligatorio
                        </small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="state">Salario</label>
                        <input type="number" class="form-control text-small" placeholder="Salario" formControlName="salary" required>
                        <small *ngIf="mustShowError('salary')" class="form-text alert-danger">
                            Salario, es obligatorio
                        </small>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="salary_type">Tipo de Salario</label>
                        <select class="form-control form-control-sm text-small" formControlName="salary_type" required>
                            <option value="{{ salaryType.value }}" *ngFor="let salaryType of salaryTypeList">{{salaryType.name}}</option>
                        </select>
                        <small *ngIf="mustShowError('salary_type')" class="form-text alert-danger">
                            Tipo de Salario, es obligatorio
                        </small>
                    </div>
                </div>
            </div>
            <!-- fin datos de empresa-->
        </form>
    </main>
    <footer>
        <button *ngIf="person.pk_id_person" type="submit" class="btn btn-outline-success btn-sm mb-2 mr-1" [disabled]="personForm.invalid" (click)="updatePerson()">Actualizar</button>
        <button *ngIf="!person.pk_id_person" type="submit" class="btn btn-outline-primary btn-sm mb-2 mr-1" [disabled]="personForm.invalid" (click)="createPerson()">Guardar</button>
    </footer>
</app-card>      