<div class="row margin-top">
    <div *ngIf="!showModule" class="col-sm-8">
        <app-new-module
        [module]="module"
        (create)="onCreate($event)"        
        (update)="onUpdate($event)" 
        >
        </app-new-module>
    </div>
    <div *ngIf="showModule" class="col-sm-8">
        <app-show-module
        [module]="module"
        [cmp]="cmp"
        (onCreateComp)="onCreateComp($event)"
        (onUpdateComp)="onUpdateComp($event)"
        (onDeleteComp)="onDeleteComp($event)"
        (onGetComponent)="onGetComponent($event)"
        (asignOption)="onAsignOption($event)"
        >
        </app-show-module>
    </div>
    <div class="col-sm-4">
        <app-list-module
        [moduleList]="moduleList"
        (delModule)=onDelete($event)
        (newModule)=onNew($event)
        (showModule)=onShow($event)
        >
        </app-list-module>
    </div>
</div>
        