<div class="card">
    <div class="card-body">
        <h5 class="card-title">Productos intermedios</h5>
        <div class="row">
            <table class="table table-sm table-striped">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Presentación</th>
                        <th>Cantidad de producto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prd of productLst">
                        <td>{{ prd.name }}</td>
                        <td>{{ prd.category }}</td>
                        <td>{{ prd.presentation }}</td>
                        <td>{{ prd.amount_use_product | json }}</td>
                    </tr>
                </tbody>
            </table>    
        </div>
    </div>
</div>