<div class="modal fade" id="workerNewModal" tabindex="-1" role="dialog" aria-labelledby="workerNewModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Novedades emplado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header"><h4>Información contractual</h4></div>
                        <div class="card-body">
                            <table class="table table-sm text-small">
                                <tbody>
                                    <tr>
                                        <th>Tipo de salario</th>
                                        <td>{{ laboral_condition.salary_type }}</td>
                                    </tr>
                                    <tr *ngIf="laboral_condition.salary_type == 'FIJO'">
                                        <th>Salario</th>
                                        <td>{{ laboral_condition.salary | number: '1.0-0' }}</td>
                                    </tr>
                                    <tr *ngIf="laboral_condition.salary_type != 'FIJO'">
                                        <th>Unidad de producción</th>
                                        <td>{{ laboral_condition.production_unit }}</td>
                                    </tr>
                                    <tr *ngIf="laboral_condition.salary_type != 'FIJO'">
                                        <th>Valor Unidad de producción</th>
                                        <td>{{ laboral_condition.value_product_unit | number: '1.0-0' }}</td>
                                    </tr>
                                    <tr *ngIf="laboral_condition.salary_type != 'FIJO'">
                                        <th>Cantidad producida en el período</th>
                                        <td>{{ production_period | number: '1.0-0' }}</td>
                                    </tr>
                                    <tr *ngIf="laboral_condition.salary_type != 'FIJO'">
                                        <th>Total a pagar</th>
                                        <td>{{ production_period * laboral_condition.value_product_unit | number: '1.0-0' }}</td>
                                    </tr>
                                    <tr *ngIf="laboral_condition.salary_type == 'FIJO'">
                                        <th>Total a pagar</th>
                                        <td>{{ laboral_condition.salary | number: '1.0-0' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin-top-1rem">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header"><h4>Información novedades</h4></div>
                        <div class="card-body">
                            <table class="table table-sm text-small">
                                <thead>
                                    <tr>
                                        <th colspan="2">Tipo</th>
                                        <th>Descripción</th>
                                        <th>Fecha</th>
                                        <th>Valor</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let worker of workerNewsLst">
                                        <td *ngIf="worker.state_worker_new === 'Pendiente' && period_state != 'Pagado'">
                                            <button (click)="updatePayingEmployee(worker.pk_id_worker_news)" class="dropdown-item text-small text-primary" type="button" data-dismiss="modal">
                                                <fa-icon [icon]="faPlus" class="text-outline-primary mb-2 mr-1"></fa-icon>Add
                                            </button>
                                        </td>
                                        <td *ngIf="worker.state_worker_new === 'Contabilizada' && period_state != 'Pagado'">
                                            <button (click)="updatePayingEmployee(worker.pk_id_worker_news)" class="dropdown-item text-small text-danger" type="button" data-dismiss="modal">
                                                <fa-icon [icon]="faPlus" class="text-outline-danger mb-2 mr-1"></fa-icon>Del
                                            </button>
                                        </td>
                                        <td *ngIf="worker.state_worker_new === 'Liquidada'">
                                            <fa-icon [icon]="faBan" class="text-outline-secondary mb-2 mr-1"></fa-icon>
                                        </td>
                                        <td>{{ worker.type_new }}</td>
                                        <td>{{ worker.description_new }}</td>
                                        <td>{{ worker.date_new }}</td>
                                        <td>{{ worker.value_new | number: '1.0-0' }}</td>
                                        <td>{{ worker.state_worker_new }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>