<app-card caption="Detalle de cliente {{person.names}} {{ person.last_names }}">
    <main>
        <div class="row">
            <!-- Inicio información proveedor-->
            <div class="col-sm-12 text-ultra-small ">
                <div class="row border-bottom-2 bg-gray style-header-table">
                    <div class="col-sm-12">
                        Información básica
                    </div>
                </div>
                <div class="row border-bottom-2 style-header-table">
                    <div class="col-sm-12 text-ultra-small">
                        <div class="row border-bottom-2 bg-gray style-header-table">
                            <div class="col-sm-12">
                                Persona
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Nombres: 
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ person.names }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Apellidos: 
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ person.last_names }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                ID: 
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ person.type_id }} {{ person.number_id }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Dirección: 
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ person.address }}
                            </div>
                        </div>
                        <div class="row border-bottom-1">
                            <div class="col-sm-4 text-small">
                                Teléfono: 
                            </div>
                            <div class="col-sm-8 card-title-custom bg-gray">
                                {{ person.phone }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</app-card>