<app-pages title="Detalle de asociado">  
    <main>       
        <section>
            <!-- start menu main-->
            <div class="row bg-gray">
                <div class="col-sm-6 text-left">
                    Información detallada
                </div>
                <div class="col-sm-6 text-right">
                    <div class="btn-group btn-group-sm">
                        <a routerLink='../../list' class="btn  btn-sm btn-outline-primary" type="button">
                            <fa-icon [icon]="faThList" class="text-outline-secondary mb-2 mr-1"></fa-icon>Ver todos
                        </a>
                    </div>
                </div>
            </div>
            <!-- end menu main-->

            <!-- start content -->
            <div class="row margin-top-1rem">
                <div class="col-sm-12">

                    <!-- start main info-->
                    <div class="row">
                        
                        <!-- start provider info-->
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            datos personales
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-sm">
                                                <tbody>
                                                    <tr>
                                                        <th>Identificación</th>
                                                        <td>{{ person.type_id }} {{ person.number_id }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <td>{{ person.names }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Apellidos</th>
                                                        <td>{{ person.last_names }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Dirección</th>
                                                        <td>{{ person.address }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Teléfono</th>
                                                        <td>{{ person.phone }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row  margin-top-1rem">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            información sobre afiliación
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-sm">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="text-muted">Fecha de afiliación</span><br/> <h6>{{ associatedInfo.date_of_admission }}</h6>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted">Valor y período de aporte</span><br/> <h6>$ {{ associatedInfo.min_contribution | number }} {{ associatedInfo.period_contribution }}</h6>
                                                        </td>
                                                        <td>
                                                            <span class="text-muted">Valor acumulado de aportes</span><br/> <h6>$ {{ associatedInfo.total_contribution | number }}</h6>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- end peson info-->
                        
                        <!-- start laboral info-->
                        <div class="col-sm-4 back-color-ff">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    información sobre aportes
                                                </div>
                                                <div class="col-sm-6 text-right">

                                                    <div class="btn-group btn-group-sm">
                                                        <div class="dropdown">
                                                            <button class="btn btn-sm dropdown-toggle" type="button" id="operation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <fa-icon [icon]="faEye" class="text-outline-secondary mb-2 mr-1"></fa-icon>Ver
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="operation">
                                                                <button (click)="loadPaymentsOfNumRow(associatedInfo.pk_id_associated_info,5)" class="dropdown-item text-small text-secondary"  type="button">
                                                                    <fa-icon [icon]="faEdit" class="text-outline-secondary mb-2 mr-1"></fa-icon>cargar 5
                                                                </button>
                                                                <div class="dropdown-divider"></div>
                                                                <button (click)="loadPaymentsOfNumRow(associatedInfo.pk_id_associated_info,20)" class="dropdown-item text-small text-secondary"  type="button">
                                                                    <fa-icon [icon]="faEdit" class="text-outline-secondary mb-2 mr-1"></fa-icon>cargar 20
                                                                </button>
                                                                <div class="dropdown-divider"></div>
                                                                <button (click)="loadPaymentsOfNumRow(associatedInfo.pk_id_associated_info,50)" class="dropdown-item text-small text-secondary"  type="button">
                                                                    <fa-icon [icon]="faEdit" class="text-outline-secondary mb-2 mr-1"></fa-icon>cargar 50
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <td colspan="2" class="aler alert-info">Se muestran los últimos 5 pagos</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Fecha de pago</th>
                                                        <th>Valor contribución</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let payment of lstAssociatedContributions">
                                                        <td>{{ payment.date_contribution }}</td>
                                                        <td>{{ payment.value_contribution | number }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end purchase info-->
                    </div>
                    <!-- end main info-->

                </div>
            </div>
            <!-- end content -->

            <!-- info sobre créditos -->
            <div class="row margin-top-1rem">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            información sobre créditos
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Valor solicitado</th>
                                        <th>Valor aprobado</th>
                                        <th>Plazo en Meses</th>
                                        <th>Número de cuotas</th>
                                        <th>Fecha solicitud</th>
                                        <th>Fecha desembolso</th>
                                        <th>Saldo</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let credit of lstCreditAssociated">
                                        <td>{{ credit.code }}</td>
                                        <td>{{ credit.amount_solicited | number }}</td>
                                        <td>{{ credit.amount_approved | number }}</td>
                                        <td>{{ credit.payment_deadline | number }}</td>
                                        <td>{{ credit.number_fees | number }}</td>
                                        <td>{{ credit.application_date }}</td>
                                        <td>{{ credit.disbursment_date }}</td>
                                        <td>{{ credit.balance_credit | number }}</td>
                                        <td>{{ credit.state }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- info sobre créditos -->
            
        </section>
    </main>
</app-pages>  
