<!-- start content -->
<div class="row">
    <div class="col-sm-12">
        <table class="table table-sm">
            <thead class="back-colo-f6">
                <tr>
                    <th colspan="3">Listado de parametros por empresa</th>
                </tr>
                <tr>
                    <th>Acciones</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parameter of parametersList">
                    <td *ngIf="!parameter.fixed">
                        <button class="btn text-ultra-small btn-sm btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <fa-icon [icon]="faTrashAlt" class="text-danger mb-2 mr-1" title="Eliminar registro"></fa-icon>  
                        </button>
                        <div class="dropdown-menu">
                            <div class="alert alert-danger text-ultra-small">
                                Eliminar parámetro
                            </div>
                            <button class="badge badge-danger text-ultra-small" (click)="deleteParameter(parameter.pk_id_parameter_config)">Confirmar..</button>   
                            <button class="badge badge-primary text-ultra-small">Cancelar</button>   
                        </div>
                        <button class="btn text-ultra-small btn-sm btn-outline-success" type="button" (click)="updateParameter(parameter)" data-toggle="modal" data-target="#parameterModal">
                            <fa-icon [icon]="faEdit" class="text-success mb-2 mr-1" title="Ver detalle"></fa-icon>  
                        </button>
                    </td>
                    <td *ngIf="parameter.fixed">
                        <fa-icon [icon]="faTrashAlt" class="text-secondary mb-2 mr-1" title="Eliminar registro"></fa-icon>  
                        <fa-icon [icon]="faEdit" class="text-secondary mb-2 mr-1" title="Ver detalle"></fa-icon>  
                    </td>
                    <td>{{ parameter.code }}</td>
                    <td>{{ parameter.description }}</td>
                    <td>{{ parameter.value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end content -->