<app-pages title="Roles del sistema">  
    <main>            
        <section>
            <!-- start menu main-->
            <div class="row bg-gray">
                <div class="col-sm-6 text-left">
                    Listado de todas los roles
                </div>
                <div class="col-sm-6 text-right">
                    <div class="btn-group btn-group-sm">
                        <button (click)="newRol()" type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#rolModal">
                            <fa-icon [icon]="faPlusCircle" class="text-outline-primary mb-2 mr-1"></fa-icon>Crear
                        </button>
                    </div>
                </div>
            </div>
            <!-- end menu main-->

            <!-- start content -->
            <div class="row margin-top-1rem">

                <div class="col-sm-12">
                    <!-- start info options-->
                    <div class="row" *ngIf="success">
                        <div class="col-sm-12">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Éxito:</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end info options-->
                </div>

                <div class="col-sm-12">
                    <table class="table table-sm table-striped">
                        <thead class="bg-secondary text-white">
                            <tr>
                                <th colspan="2">Nombre</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rol of lstRols">
                                <td>
                                    <div class="btn-group">
                                        <a routerLink='../show/{{rol.pk_id_rol}}' class="btn text-ultra-small btn-sm btn-outline-primary" type="button">
                                            <fa-icon [icon]="faEye" class="text-outline-secondary mb-2 mr-1"></fa-icon>Ver detalle
                                        </a>
                                        <button (click)="selectRol(rol)" type="button" class="btn text-ultra-small btn-sm btn-outline-primary" data-toggle="modal" data-target="#rolModal">
                                            <fa-icon [icon]="faEdit" class="text-primary mb-2 mr-1" title="Actualizar registro"></fa-icon>Editar
                                        </button>
                                        <button (click)="selectRol(rol)" type="button" class="text-ultra-small btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteRol">
                                            <fa-icon [icon]="faTrash" class="text-outline-danger mb-2 mr-1"></fa-icon>Eliminar
                                        </button> 
                                    </div>
                                </td>
                                <td>{{ rol.name }}</td>
                                <td>{{ rol.description }}</td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
            <!-- end content -->
        </section>
    </main>
</app-pages>

<!-- Sección de creación de módulo-->
<app-rol-form-modal
[rol]="selectedRol"
(update)="onUpdate($event)"
(create)="onCreate($event)"
>
</app-rol-form-modal>
<!-- fin Sección de creación de módulo-->

<!-- Modal -->
<div class="modal fade" id="deleteRol" tabindex="-1" role="dialog" aria-labelledby="deleteRol" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación de mensaje</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert">
                Se va a eliminar un registro, desea confirmar la operación?.
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="deleteRol()" data-dismiss="modal" class="btn btn-danger">Eliminar</button>
        </div>
        </div>
    </div>
</div>