<div class="modal fade" id="componentModal" tabindex="-1" role="dialog" aria-labelledby="componentModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Componente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="componentForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control text-small" placeholder="Nombre" formControlName="name" required>
                                        <small *ngIf="mustShowError('name')" class="form-text alert-danger">
                                        Nombre es obligatorio
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="url_angular_component">Módulo angular</label>
                                        <input type="text" class="form-control text-small" placeholder="Modulo angular" formControlName="url_angular_component">
                                    </div>
                                </div> 
                            </div>

                            <!--start buttons forms-->
                            <div class="row justify-content-end">
                                <div class="col-sm-4 text-right align-self-end">
                                    <button *ngIf="component.pk_id_component" type="submit" class="btn btn-outline-success btn-sm mb-2 mr-1" [disabled]="componentForm.invalid" (click)="updateModule()">Actualizar</button>
                                    <button *ngIf="!component.pk_id_component" type="submit" class="btn btn-outline-primary btn-sm mb-2 mr-1" [disabled]="componentForm.invalid" (click)="createModule()">Guardar</button>
                                </div>
                            </div>
                            <!--end buttons forms-->
                        </form>
                    </div>
                </div>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>