<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Gasto tipo {{ expenseForm.value.type_expense }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="expenseForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="number_voucher">Número de comprobante</label>
                                    <div class="input-group-prepend">
                                        <button type="button" *ngIf="!expense.pk_id_expense" (click)="selectNumberVoucher()" class="btn text-small btn-sm btn-outline-primary">
                                            <fa-icon [icon]="faClone" class="text-primary mb-2 mr-1" title="Consecutivo"></fa-icon>
                                        </button>
                                        <button type="button" *ngIf="!expense.pk_id_expense" (click)="selectNumberPurchase()" class="btn text-small btn-sm btn-outline-primary">
                                            <fa-icon [icon]="faDonate" class="text-primary mb-2 mr-1" title="Generar factura equivalente"></fa-icon>
                                        </button>
                                        <input type="text" readonly class="form-control form-control-sm" placeholder="#Comprobante" formControlName="number_voucher" required>
                                    </div>
                                    <small id="ninvoiceHelp" class="form-text text-muted">Generar consecutivo, o Generar factura equivalente.</small>
                                    <small *ngIf="mustShowError('number_voucher')" class="form-text alert-danger">
                                        Número de comprobante, es obligatorio
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name_provider">Proveedor del servicio</label>
                                    <input type="text" id="filterProviderExpense" (keypress)="onFindProviderExpense($event)" class="form-control form-control-sm" formControlName="name_provider" required>
                                    <small class="form-text text-muted">Digite nombre del proveedor.</small>
                                    <!-- start autocomplete-->
                                    <div class="autocomplete container-fluid">
                                        <div id="autocomplete-list" class="autocomplete-items text-ultra-small">
                                            <div class="items row" *ngFor="let provider of lstProviders">
                                                <div class="col-sm-12" (click)="selectProviderExpense(provider)">
                                                    {{ provider.nit }} _ {{ provider.name }} {{ provider.last_names }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- start autocomplete-->
                                    <small *ngIf="emptyProv" class="form-text text-danger text-muted">No se encuentra proveedor.</small>
                                    <small *ngIf="mustShowError('name_provider')" class="form-text alert-danger">
                                        Proveedor del servicio, es obligatorio
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="concept_expense">Concepto</label>
                                    <select class="form-control form-control-sm text-small" formControlName="concept_expense" required>
                                        <option value="">Seleccione..</option>
                                        <option value="{{type.value}}" *ngFor="let type of parameterList">{{type.name}}</option>
                                    </select>
                                    <small *ngIf="mustShowError('concept_expense')" class="form-text alert-danger">
                                        Concepto, es obligatorio
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="value">Valor del gasto</label>
                                    <input type="number" class="form-control text-small" placeholder="Valor" formControlName="value" required>
                                    <small *ngIf="mustShowError('value')" class="form-text alert-danger">
                                        Valor, es obligatorio
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="description">Descripción del gasto</label>
                                    <textarea maxlength="200" class="form-control text-small" placeholder="Descripción" formControlName="description" required></textarea>
                                    <small class="form-text alert alert-info" role="alert">
                                        La descripción del pago, no puede superar los <strong>200</strong> caracteres.
                                    </small>
                                    <div *ngIf="mustShowError('description')" class="form-text alert-danger">
                                        <small *ngIf="hasError('description','required')">
                                            El campo es obligatorio
                                        </small>                        
                                        <small *ngIf="hasError('description','maxLength')">
                                            Valor no puede ser mayor a <strong>{{ this.getErrors('description').maxLength.maxLength }}</strong>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-end">
                            <div class="col-sm-4 text-right align-self-end">
                                <button *ngIf="expense.pk_id_expense" type="submit" (click)="updateExpense()" [disabled]="expenseForm.invalid" class="btn btn-sm btn-outline-primary" type="button" data-dismiss="modal">
                                    <fa-icon [icon]="faSave" class="text-outline-secondary mb-2 mr-1"></fa-icon>Actualizar
                                </button>
                                <button *ngIf="!expense.pk_id_expense" type="submit" (click)="createExpense()" [disabled]="expenseForm.invalid" class="btn btn-sm btn-outline-primary" type="button" data-dismiss="modal">
                                    <fa-icon [icon]="faSave" class="text-outline-secondary mb-2 mr-1"></fa-icon>Crear
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>