<app-card caption="Gestión de información de compras">
    <main>
        <h5 *ngIf="purchase.pk_id_purchase">Actualización de información</h5>
        <h5 *ngIf="!purchase.pk_id_purchase">Órden de compra</h5>
        <form [formGroup]="purchaseForm">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="pk_id_enterprise">Proveedor</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn text-small btn-sm btn-outline-primary" data-toggle="modal" data-target="#enterpriseModal">
                                <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear registro"></fa-icon>
                            </button>
                        </div>
                        <select class="form-control form-control-sm text-small" formControlName="fk_id_provider" required>
                            <option value="{{provider.pk_id_enterprise}}:{{provider.name}}:{{provider.nit}}" *ngFor="let provider of providerList">{{provider.name}}</option>
                        </select>
                        <small *ngIf="mustShowError('fk_id_provider')" class="form-text alert-danger">
                            Proveedor es obligatorio
                        </small>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label for="number_invoice">Número de factura</label>
                    <input type="text" class="form-control form-control-sm text-small" placeholder="número de factura" formControlName="number_invoice" required>
                    <small *ngIf="mustShowError('number_invoice')" class="form-text alert-danger">
                        Número de factura es obligatorio
                    </small>
                </div>
            </div>
            <div formGroupName="product_new">
                <table class="table table-hover table-sm">
                    <thead class="bg-header-table" *ngIf="purchaseForm.value.subtotal_purchase > 0">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cant</th>
                            <th scope="col">Valor unitario</th>
                            <th scope="col">Impuesto</th>
                            <th scope="col">Valor total</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="purchaseForm.value.subtotal_purchase > 0">
                        <tr *ngFor="let prd of purchaseForm.value.products_list; let i=index">
                            <td>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button class="btn btn-sm btn-outline-danger" type="button" (click)="delProduct(prd,i)">
                                            <fa-icon [icon]="faMinusCircle" class="text-danger mb-2 mr-1" title="Eliminar producto"></fa-icon>  
                                        </button>
                                    </div>
                                    <div class="col-sm-8">
                                        {{ prd.code_product }}
                                    </div>
                                </div>
                            </td>
                            <td>{{ prd.name_product }}</td>
                            <td *ngIf="prd.package_product >= '1'">{{ prd.package_product }} :Pqts</td>
                            <td *ngIf="prd.units_product >= '1'">{{ prd.units_product }} :Unds</td>
                            <td>{{ prd.value_product | number }}</td>
                            <td>({{ prd.tax_product }}%) {{ prd.value_tax | number }}</td>
                            <td>{{ prd.value_total_product | number }}</td>
                        </tr>
                        <tr>
                            <th rowspan="4" colspan="4"></th>
                            <th>Subtotal</th>
                            <th><span class="text-right">{{ purchaseForm.value.subtotal_purchase | number }}</span></th>
                        </tr>
                        <tr>
                            <th>Impuestos</th>
                            <th><span class="text-right">{{ purchaseForm.value.total_taxes | number }}</span></th>
                        </tr>
                        <tr>
                            <th>Descuentos</th>
                            <th><span class="text-right">{{ purchaseForm.value.value_discount | number }}</span></th>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th><span class="text-right">{{ purchaseForm.value.total_purchase | number }}</span></th>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="row bg-header-custom">
                                    <div class="col-sm-4">
                                        <label for="code_product">Código</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn text-small btn-sm btn-outline-primary" data-toggle="modal" data-target="#searchModal">
                                                    <fa-icon [icon]="faSearch" class="text-primary mb-2 mr-1" title="Buscar producto"></fa-icon>
                                                </button>
                                            </div>
                                            <div class="input-group-prepend" *ngIf="purchaseForm.value.fk_id_provider">
                                                <button type="button" class="btn text-small btn-sm btn-outline-primary" data-toggle="modal" data-target="#productModal">
                                                    <fa-icon [icon]="faPlusCircle" class="text-primary mb-2 mr-1" title="Crear producto"></fa-icon>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm text-small" placeholder="código" #code_product (keyup.enter)="loadProductByCode($event.target.value)" formControlName="code_product">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="name_product">Nombre</label>
                                        <input type="text" readonly class="form-control form-control-sm text-small" placeholder="nombre" formControlName="name_product">
                                    </div> 
                                    <div class="col-sm-2" *ngIf="product.presentation == 'PAQUETE'">
                                        <label for="package_product">Paquetes</label>
                                        <input type="number" class="form-control form-control-sm text-small" placeholder="paquetes" formControlName="package_product">
                                    </div>
                                    <div class="col-sm-2" *ngIf="product.presentation == 'INDIVIDUAL'">
                                        <label for="units_product">Unidades</label>
                                        <input type="number" class="form-control form-control-sm text-small" placeholder="unidades" formControlName="units_product">
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="tax_product">IVA</label>
                                        <select class="form-control form-control-sm text-small" formControlName="tax_product">
                                            <option value="{{tax.value}}" *ngFor="let tax of taxesList">{{tax.name}}</option>
                                        </select>
                                        <div *ngIf="mustShowErrorChild('product_new','tax_product')" class="form-text alert-danger">
                                            <small *ngIf="hasErrorChild('product_new','tax_product','required')">
                                                El campo es obligatorio
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="value_total_product">Valor unitario</label>
                                        <input type="number" class="form-control form-control-sm text-small" placeholder="valor x paquete" (keyup.enter)="addProduct()" formControlName="value_product">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>
        
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="type_payment">Tipo de pago</label>
                    <select class="form-control form-control-sm text-small" formControlName="type_payment" (change)="updateState()" required>
                        <option value="{{type.value}}" *ngFor="let type of paymentTypeList">{{type.name}}</option>
                    </select>
                    <small *ngIf="mustShowError('type_payment')" class="form-text alert-danger">
                        Tipo de pago es obligatorio
                    </small>
                </div>
                <div class="form-group col-sm-3">
                    <label for="type_payment">Descuentos</label>
                    <select class="form-control form-control-sm text-small" formControlName="total_discounts" (change)="updateDiscount()" required>
                        <option value="{{discount.value}}" *ngFor="let discount of discountsList">{{discount.name}}</option>
                    </select>
                    <small *ngIf="mustShowError('total_discounts')" class="form-text alert-danger">
                        Descuento es obligatorio
                    </small>
                </div>
            </div>

            <div class="row info-left spacing-margin" *ngIf="purchaseForm.value.type_payment === credit_payment">
                <div class="col-sm-4">
                    <label for="value_payment">Valor de abono</label>
                    <input type="number" class="form-control form-control-sm text-small" placeholder="Abono" formControlName="value_payment">
                    <small class="form-text alert-info">
                        Valor no puede ser mayor a <strong>{{ purchaseForm.value.total_purchase | number}}</strong>
                    </small>
                </div>
            </div>
        </form>

        <!-- Modals para Empresa y Producto-->
        <app-modal-enterprise
            (create)="onCreateEnterprise($event)"
        ></app-modal-enterprise>
        <app-modal-product
            [categoryList]="categoryList"
            [presentationList]="presentationList"
            [category]="purchaseForm.value.category"
            (create)="onCreateProduct($event)"
        ></app-modal-product>
        <app-modal-search
            (select)="onSelect($event)">
        </app-modal-search>
        <!-- Fin de Modals-->
    </main>
    <footer *ngIf="purchaseForm.value.value_payment < purchaseForm.value.total_purchase">
        <button *ngIf="purchase.pk_id_purchase" type="submit" class="btn btn-outline-success btn-sm mb-2 mr-1" [disabled]="purchaseForm.invalid" (click)="updatePurchase()">Actualizar</button>
        <button *ngIf="!purchase.pk_id_purchase" type="submit" class="btn btn-outline-primary btn-sm mb-2 mr-1" [disabled]="purchaseForm.invalid" (click)="createPurchase()">Guardar</button>
        <button type="button" class="btn btn-outline-danger btn-sm mb-2 mr-1" (click)="cancelPurchase()">Cancelar</button>
    </footer>
</app-card>      