<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Sales System</h3>
            <strong>SS</strong>
        </div>

        <ul class="list-unstyled components" *ngIf="user">
            <li class="active" *ngFor="let module of user.modules">
                <a href="#m{{module.pk_id_module}}"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="{{ module.icon_name }}"></i>
                    {{ module.name }}
                </a>
                <ul class="collapse list-unstyled" id="m{{module.pk_id_module}}">
                    <li *ngFor="let component of module.components">
                        <a class="dropdown-item" [routerLink]="['./sales-admin/',module.url_angular_module,component.url_angular_component]">{{ component.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a  href="#" class="downloads">Tutoriales</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <div class="row nav-custom bg-white">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-2">
                            <button (click)="troggleSideBar()"  type="button" id="sidebarCollapse" class="btn btn-sm">
                                <i class="fas fa-align-left"></i>
                            </button>
                        </div>
                        <div class="col-sm-10 col align-self-start" *ngIf="user.person && user.enterprise">
                            <h6>{{ user.enterprise.name }}</h6>
                            <span class="text-muted text-small">{{ user.person.names }} {{ user.person.last_names }}</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-8 text-right col align-self-start" *ngIf="user.person">
                    <ul class="nav justify-content-end">
                        <!-- start botones temporales-->
                        <li class="nav-item">
                            <button (click)="updateAppsSales()" class="dropdown-item text-small text-secondary" type="button">
                                <fa-icon [icon]="faSync" class="text-outline-secondary mb-2 mr-1"></fa-icon>Ventas: {{ statusSales }}
                            </button>
                        </li>
                        <li class="nav-item">
                            <button  (click)="updateAppsUser()" class="dropdown-item text-small text-secondary" type="button">
                                <fa-icon [icon]="faSync" class="text-outline-secondary mb-2 mr-1"></fa-icon>Usuarios: {{ statusUsers }}
                            </button>
                        </li>    
                        <!-- end botones temporales-->

                        <li class="nav-item">
                            <button [routerLink]="['./sales-admin/modules']" class="dropdown-item text-small text-secondary" type="button">
                                <fa-icon [icon]="faTasks" class="text-outline-secondary mb-2 mr-1"></fa-icon>Menú principal
                            </button>
                        </li>
                        <li class="nav-item">
                            <button (click)="logout()" class="dropdown-item text-small text-secondary"  type="button">
                                <fa-icon [icon]="faSignOutAlt" class="text-outline-secondary mb-2 mr-1"></fa-icon>Logout
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <app-main></app-main>
        <app-footer></app-footer>
    </div>
</div>