<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" *ngIf="user.username">
        <div class="sidebar-header">
            <h3>Sales System</h3>
            <strong>SS</strong>
        </div>

        <ul class="list-unstyled components" *ngIf="user">
            <li class="active" *ngFor="let module of user.modules">
                <a href="#m{{module.pk_id_module}}"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="{{ module.icon_name }}"></i>
                    {{ module.name }}
                </a>
                <ul class="collapse list-unstyled" id="m{{module.pk_id_module}}">
                    <li *ngFor="let component of module.components">
                        <a class="dropdown-item" [routerLink]="['./sales-admin/',module.url_angular_module,component.url_angular_component]">{{ component.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li class="active">
                <button (click)="updateAppsSales()" class="dropdown-item text-small" type="button">
                    <fa-icon [icon]="faSync" class="downloads"></fa-icon>Ventas: {{ statusSales }}
                </button>
            </li>
            <li class="active">
                <button  (click)="updateAppsUser()" class="dropdown-item text-small" type="button">
                    <fa-icon [icon]="faSync" class="downloads"></fa-icon>Usuarios: {{ statusUsers }}
                </button>
            </li>
            <li class="active">
                <button  (click)="updateAppsCredits()" class="dropdown-item text-small" type="button">
                    <fa-icon [icon]="faSync" class="downloads"></fa-icon>Créditos: {{ statusCredits }}
                </button>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <div class="row nav-custom bg-white">
                <div class="col-sm-6" *ngIf="user.username">
                    <div class="row">
                        <div class="col-sm-1">
                            <button (click)="troggleSideBar()"  type="button" id="sidebarCollapse" class="btn btn-sm">
                                <i class="fas fa-align-left"></i>
                            </button>
                        </div>
                        <div class="col-sm-11 media position-relative" *ngIf="user.person && user.enterprise && user.rol">
                            <img *ngIf="user.enterprise.url_logo" class="align-self-center mr-3" src="{{ url_storage + user.enterprise.url_logo }}" alt="{{ user.enterprise.name }}" height="100px">
                            <div class="media-body">
                                <h5 class="mt-0">{{ user.enterprise.name }}</h5>
                                <span class="text-muted text-small">{{ user.person.names }} {{ user.person.last_names }}</span><br/>
                                <span class="text-muted text-small">{{ user.rol.name }}</span><br/>
                                <span class="text-muted text-small" *ngIf="user.access_enterprise">Acceso desde: {{ user.access_enterprise.date_init_access }} hasta: {{ user.access_enterprise.date_end_access }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 text-right col align-self-start" *ngIf="user.person">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <button [routerLink]="['./sales-admin/modules']" class="dropdown-item text-small text-secondary" type="button">
                                <fa-icon [icon]="faTasks" class="text-outline-secondary mb-2 mr-1"></fa-icon>Menú principal
                            </button>
                        </li>
                        <li class="nav-item">
                            <button (click)="logout()" class="dropdown-item text-small text-secondary"  type="button">
                                <fa-icon [icon]="faSignOutAlt" class="text-outline-secondary mb-2 mr-1"></fa-icon>Logout
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row container message" *ngIf="message.code != null">
                <div class="row message-items text-ultra-small">
                    <div class="col-sm-12">
                        <div class="alert alert-success text-small" role="alert" *ngIf="message.code === '200'">
                            {{ message.code }} : {{ message.desc }}
                        </div>
                        <div class="alert alert-danger text-small" role="alert" *ngIf="message.code != '200'">
                            {{ message.code }} : {{ message.desc }}
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        
        <app-main></app-main>
        <app-footer></app-footer>
    </div>
</div>