<!-- card para información sobre proceso productivo-->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8 card-title">
                <h5>Información detallada</h5>
            </div>
            <div class="col-sm-4 text-right">
                <div class="btn-group btn-group-sm">
                    <button (click)="viewList()" type="button" class="btn btn-outline-primary btn-sm">
                        <fa-icon [icon]="faThList" class="text-outline-primary mb-2 mr-1"></fa-icon>Ver todos
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <app-main-info
                        [productionProcess]="productionProcess"
                        (onUpdate)="update($event)"
                        ></app-main-info> 
                    </div>
                </div>
                <div class="row margin-top-1rem">
                    <div class="col-sm-12">
                        <app-periods-info
                        [productionProcess]="productionProcess"
                        [cuttingPeriodList]="cuttingPeriodList"
                        (getData)="onGetData($event)"
                        (onCreatePeriod)="onCreatePeriod($event)"
                        (onDeletePeriod)="onDeletePeriod($event)"
                        ></app-periods-info>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <app-periods-product-info
                        [productLst]="dataProductProducts"
                        [stateProduction]="productionProcess.state"
                        (onDeleteDetail)="onDeleteDetail($event)"
                        ></app-periods-product-info>
                    </div>
                    <div class="col-sm-12 margin-top-1rem">
                        <app-periods-intermediaty-info
                        [productLst]="dataProductIntermediaty"
                        [stateProduction]="productionProcess.state"
                        (onDeleteDetail)="onDeleteDetail($event)"
                        ></app-periods-intermediaty-info>
                    </div>
                    <div class="col-sm-12 margin-top-1rem">
                        <app-periods-input-info
                        [inputsProductLst]="dataProductInputs"
                        [stateProduction]="productionProcess.state"
                        (onDeleteDetail)="onDeleteDetail($event)"
                        ></app-periods-input-info>
                    </div>      
                
                </div>
            </div>
        </div>
        <!-- end of row -->
    </div>
</div>