<app-card caption="Información de mi empresa">
    <main>
        <div class="row">
            <div class="col-sm-6">
                <app-main-info
                    [enterprise]="enterprise"
                ></app-main-info>
            </div>
            <div class="col-sm-6">
              <app-employee
                [employeesList]="employeesList"
              ></app-employee>  
            </div>
            <div class="col-sm-6">
                <app-positions
                    [positionsList]="positionsList"
                ></app-positions>  
            </div>
            <div class="col-sm-6">
                <app-parameters></app-parameters>
            </div>
        </div>
    </main>
</app-card>